.home-category-slider {
    padding-top: 3.625rem;
    padding-bottom: 4.5rem;

    @include media-breakpoint-down(lg) {
        padding-top: 2.6875rem;
        padding-bottom: 4.0625rem;
    }

    a {
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }

    .category-slider-title {
        font-size: $font-size-8;
        margin-bottom: 2.6875rem;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            text-align: center;
            font-size: $font-size-18;
        }

        span {
            font-weight: $font-weight-extra-bold;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .home-category-image {
        position: relative;

        img {
            width: 100%;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $font-size-18;
            font-weight: $font-weight-extra-bold;
            text-transform: uppercase;
            color: $white;

            @include media-breakpoint-down(lg) {
                font-size: $font-size-10;
            }
        }
    }

    .home-category-text {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $black;
        color: $white;
        font-size: $font-size-6;
        font-weight: $font-weight-extra-bold;
        height: 4.5625rem;

        @include media-breakpoint-down(sm) {
            height: 2rem;
            font-size: $font-size-2;
            font-weight: $font-weight-semi-bold;
        }
    }
}
