.cookie-warning-container {
    color: $grey2;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: $font-size--1;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.3rem 0.5rem 0.4rem 0.725rem;
    transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

    @include media-breakpoint-down(xs) {
        font-size: $font-size--2;
    }

    .btn-cancel {
        margin-left: auto;
        color: $white;

        /* rtl:raw:
            position: relative;
            top: -0.125rem;
        */

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1.25rem;
            }
        }
        @include ipad() {
            position: absolute;
            right: 0.313rem;
            top: 0;
        }
    }

    .content-asset {
        a {
            color: $grey2;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .cookie-warning-container {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
