@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.eot?17713411");
    src:
        url("../fonts/fontello.eot?17713411#iefix") format("embedded-opentype"),
        url("../fonts/fontello.woff2?17713411") format("woff2"),
        url("../fonts/fontello.woff?17713411") format("woff"),
        url("../fonts/fontello.ttf?17713411") format("truetype"),
        url("../fonts/fontello.svg?17713411#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
    line-height: normal;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
    font-family: "fontello" !important;
    font-style: normal;
    font-size: $font-size-6;
    font-weight: $font-weight-normal;
    display: inline-block;
    text-decoration: inherit;
    transform: rotateZ(0);
    line-height: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star::before {
    content: '\e800';
} /* '' */

.icon-star-empty::before {
    content: '\e801';
} /* '' */

.icon-star-half::before {
    content: '\e802';
} /* '' */

.icon-star-loyalty::before {
    content: '\ea67';
} /* '' */

.icon-star-xl::before {
    content: '\ea68';
} /* '' */

.icon-star-half-outline::before {
    content: '\f123';
} /* '' */

.icon-arrow-up::before {
    content: '\e803';
} /* '' */

.icon-arrow-down::before {
    content: '\e803';
    transform: rotate(180deg);
} /* '' */

.icon-arrow-left::before {
    content: '\e803';
    transform: rotate(-90deg);
} /* '' */

.icon-arrow-right::before {
    content: '\e803';
    transform: rotate(90deg);
} /* '' */

.icon-minus::before {
    content: "\e804";
} /* '' */

.icon-plus::before {
    content: "\e805";
} /* '' */

.icon-cart::before {
    content: "\e806 ";
} /* '' */

.icon-search::before {
    content: "\e807";
} /* '' */

.icon-pin::before {
    content: "\e808";
} /* '' */

.icon-account::before {
    content: "\e809";
} /* '' */

.icon-wishlist::before {
    content: "\e80a";
} /* '' */

.icon-youtube::before {
    content: "\e80b";
} /* '' */

.icon-twitter::before {
    content: "\e80c";
} /* '' */

.icon-pinterest::before {
    content: "\e80d";
} /* '' */

.icon-instagram::before {
    content: "\e80e";
} /* '' */

.icon-secure-1::before {
    content: "\e80f";
} /* '' */

.icon-secure-2::before {
    content: "\e810";
} /* '' */

.icon-return::before {
    content: "\e811";
} /* '' */

.icon-sample::before {
    content: "\e812";
} /* '' */

.icon-shipping::before {
    content: "\e813";
} /* '' */

.icon-caret::before {
    content: "\e814";
} /* '' */

.icon-cross::before {
    content: "\e815";
} /* '' */

.icon-menu::before {
    content: "\e816";
} /* '' */

.icon-lock::before {
    content: "\e817";
} /* '' */

.icon-address-book::before {
    content: "\e818";
} /* '' */

.icon-payment-method::before {
    content: "\e819";
} /* '' */

.icon-preferences::before {
    content: "\e81a";
} /* '' */

.icon-phone::before {
    content: "\e81b";
} /* '' */

.icon-bag::before {
    content: "\ea06";
} /* '' */

.icon-fav::before {
    content: "\ea1a";
} /* '' */

.icon-profile::before {
    content: "\ea55";
} /* '' */

.icon-wishlist-fill::before {
    content: "\e81f";
    color: $primary;
} /* '' */

.icon-cod::before {
    content: '\e824';
} /* '' */

.icon-facebook::before {
    content: '\e825';
} /* '' */

.icon-check {
    display: inline-block;
    transform: rotate(45deg);
    height: 0.75rem;
    width: 0.375rem;
    border-bottom: 0.125rem solid $green;
    border-right: 0.125rem solid $green;
}

.icon-arrow-down,
.icon-arrow-up,
.icon-arrow-left,
.icon-arrow-right {
    color: $black;

    &::before {
        font-size: $font-size-14;
    }
}

.sc-icon-cross,
.sc-icon-plus {
    display: inline-block;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 0.3125rem;
        margin: -0.0625rem 0 0 -0.78125rem;
        width: 1.5625rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    &::before {
        transform: rotate(-45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-plus {
    transform: rotate(45deg);
}

.sc-icon-minus::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -0.0625rem;
    width: 0.875rem;
    height: 0.125rem;
    background-color: $secondary;
}

.sc-icon-arrow-next,
.sc-icon-arrow-prev,
.sc-icon-arrow-down,
.sc-icon-arrow-up {
    position: relative;
    display: inline-block;
    width: 1.3125rem;
    height: 0.875rem;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 1.875rem;
        height: 0.0625rem;
        background-color: $secondary;
        transform-origin: 0 0;
    }

    &::before {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-arrow-down {
    transform: rotate(180deg);
}

.sc-icon-arrow-up {
    transform: rotate(0deg);
}

.sc-icon-arrow-prev {
    transform: rotate(-90deg);
}

.sc-icon-arrow-next {
    transform: rotate(90deg);
}

/* rtl:raw:
    .icon-search::before,
    .icon-shipping::before,
    .icon-phone::before,
    .icon-star-half::after {
        transform: scale(-1, 1) rotateZ(0);
    }
*/
