#reboot-landing-page {
    @include media-breakpoint-up(lg) {
        max-width: 75rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin: auto auto 3.75rem;
    }

    p {
        font-size: 1.1rem;
    }

    .product-tile-add-to-cart.btn-primary {
        width: 100%;
        background-color: $secondary;
        border-color: $secondary;

        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }

    .storepage-content > div {
        margin-bottom: 3.5rem;

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            .experience-component.experience-commerce_assets-editorialRichText {
                max-width: 62rem;
                margin: 0 auto;
            }
        }
    }

    .experience-commerce_assets-link a {
        font-size: 1.1rem;
        font-weight: bold;
    }
}
