@import '../mixins/swatch';
@import './quickView';

.product-tile-link {
    position: absolute;
    top: 0.0625rem;
    right: 0;
    left: 0;
    bottom: 0.0625rem;
    z-index: 2;
}

.product-tile {
    border: 0;
    margin-bottom: 0;
    position: relative;

    .tile-body {
        .color-swatches {
            min-height: 2.25em;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                    font-size: $font-size-1;
                }

                @include media-breakpoint-down(sm) {
                    font-size: $font-size--1;
                }
            }
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            line-height: 1.2;

            a {
                color: $black;
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                text-decoration: none;
                text-align: left;

                &:focus {
                    outline: none !important;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-2;
                }
            }
        }

        > .btn {
            position: relative;
            z-index: 3;

            @include media-breakpoint-down(md) {
                min-width: 6.35rem;
            }
        }
    }

    .name-container {
        height: 2.5rem;
        margin: 0.5rem 0;
    }

    .price-container {
        margin: 0.5rem 0;
        text-transform: uppercase;
        height: auto;

        .sales {
            font-size: $font-size-4;
            font-weight: $font-weight-extra-bold;
            color: $tabasco;

            @include media-breakpoint-down(lg) {
                font-size: $font-size-base;
            }
        }

        .strike-through {
            .value {
                color: $black;
                font-size: $font-size-2;
                font-weight: $font-weight-semi-bold;
                margin-right: 0.625rem;
                @include media-breakpoint-down(lg) {
                    font-size: $font-size--2;
                }
            }
        }
    }

    .shades-container {
        color: $boulder;

        @include media-breakpoint-down(lg) {
            font-size: $font-size--2;
        }

        span {
            &::before {
                content: "(";
            }

            &::after {
                content: ")";
            }
        }
    }

    .image-container {
        position: relative;
        min-height: 8.4375rem;
        background: $white;

        @include media-breakpoint-up(xl) {
            min-height: 15.625rem;
        }

        @include media-breakpoint-up(xl) {
            min-height: 12.5rem;
        }

        .view-container {
            position: absolute;
            bottom: 3.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            background-color: $approx;
            padding: 0.625rem;
            text-align: center;
            text-transform: uppercase;
            display: none;

            a {
                font-size: $font-size-2;
                font-weight: $font-weight-extra-bold;
                color: $white;
            }
        }

        &:hover {
            .view-container {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
        }

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba($black, 0.7);
                }

                &.fa-circle {
                    color: rgba($white, 0.7);
                    text-shadow: 0 0.125rem 0.625rem rgba($black, 0.2);
                }
            }
        }

        a {
            display: block;

            .tile-image {
                width: 100%;
                padding: 2rem 0;
            }
        }

        .badges-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-bottom: 0;

            .badges {
                height: 2rem;
                background: none;

                @include media-breakpoint-down(sm) {
                    height: 1.3125rem;
                }

                .badge-item {
                    font-size: $font-size-2;
                    font-weight: $font-weight-extra-bold;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba($black, 0.1);

                    @include media-breakpoint-down(sm) {
                        font-size: $font-size--2;
                        font-weight: $font-weight-normal;
                    }
                }
            }
        }

        .add-to-wishlist-container {
            .add-to-wishlist-btn {
                position: absolute;
                top: 0.75rem;
                right: 0.75rem;
                box-shadow: 0 0.25rem 0.5rem 0 rgba($secondary, 0.1);
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: none;
                border: none;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @include media-breakpoint-down(sm) {
                    top: 0;
                    right: 0;
                }
            }
        }

        .discount-container {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            font-size: $font-size-4;
            font-weight: $font-weight-extra-bold;
            color: $primary;
            text-transform: uppercase;
            border: 0.0625rem solid $primary;
            border-radius: 0.125rem;
            padding: 0.3125rem;
            line-height: normal;

            @include media-breakpoint-down(lg) {
                font-size: $font-size--4;
            }

            @include media-breakpoint-down(xs) {
                left: 0;
            }
        }

        .add-to-wishlist-container {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    .swatch-circle {
        // $white will be replaced by color image background via Javascript
        @include swatch($white);
    }
}

.hide-product-image {
    .image-container {
        display: none;
    }
}

.hide-product-name {
    .name-container {
        display: none;
    }
}

.hide-product-badges {
    .badges-container {
        display: none;
    }
}

.hide-product-review {
    .review-container {
        display: none;
    }
}

.hide-product-price {
    .price-container {
        display: none;
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 1px solid $grey3;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}

.shades-title {
    color: $dove-gray;
}
