/*
   1.0 Utility functions for RTLCSS
*/

/* Replace. Replaces the declaration value with {value}.
** Usage:
** letter-spacing: 1px rtl(normal);
*/

@function rtl($value) {
    @return #{"/*rtl:" + $value + "*/"};
}

/* Append. Appends {value} to the end of the declaration value.
** Usage:
** transform: rotate(45deg) rtl-append(scaleX(-1));
*/

@function rtl-append($value) {
    @return #{"/*rtl:append:" + $value + "*/"};
}

/* Prepend. Prepend {value} to the begining of the declaration value.
** Usage:
** transform: rotate(45deg) rtl-prepend(scaleX(-1));
*/

@function rtl-prepend($value) {
    @return #{"/*rtl:prepend:" + $value + "*/"};
}

/* Prepend. Prepend {value} to the begining of the declaration value.
** Usage:
** transform: rotate(45deg) rtl-prepend(scaleX(-1));
*/

@function rtl-insert($value) {
    @return #{"/*rtl:insert:" + $value + "*/"};
}

/* Ignore. Ignores processing of this declaration
** Usage:
** text-align: left rtl-ignore();
*/

@function rtl-ignore() {
    @return #{"/*rtl:ignore*/"};
}

// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number

@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

// Convert px to rem

@function rem($px, $base: $font-size-default) {
    @return (strip-unit($px) / strip-unit($base)) * 1rem;
}
