@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/components/creditCardField";
@import "components/checkoutComponents";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

$checkout-font-weight: 600;

.checkout-main {
    margin-bottom: 1rem;

    .order-total-summary-container {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: $font-family-base;
        text-transform: uppercase;
        letter-spacing: $font-ls-2;
        font-size: $font-size--2;
        line-height: $font-lh--1;
        color: $primary;
        border-bottom: 0.0625rem solid $border-color;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
            border-bottom: none;
        }
        @include media-breakpoint-up(xl) {
            font-size: $font-size-4;
        }
    }

    .order-receipt-label {
        white-space: normal !important;
    }

    .card {
        border: 0;
        border-radius: 0;

        h4:not(.container-title),
        .grand-total {
            font-family: $font-family-secondary;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-4 !important;
            margin-bottom: 1rem;
            text-transform: uppercase;

            @include media-breakpoint-up(md) {
                font-size: $font-size-6 !important;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-10 !important;
            }
        }

        .grand-total {
            @include media-breakpoint-up(md) {
                margin-top: 3rem;
            }

            padding-top: 1rem;
        }

        .bootstrap-select .no-result {
            font-size: $font-size--3;
            padding: 0.3125rem;
        }

        .shipping-address-block {
            .region-code {
                max-height: 5.5rem !important;
                font-size: $font-size-4;
                justify-content: center !important;
            }
        }

        .shipping-address-block,
        .billing-address {
            font-size: $font-size--3;

            .form-control-label {
                font-size: $font-size--3;

                @include media-breakpoint-up(md) {
                    font-size: $font-size--2;
                }
                @include media-breakpoint-up(lg) {
                    font-size: $font-size--1;
                }
                @include media-breakpoint-up(xl) {
                    font-size: $font-size-1;
                }

                font-weight: $font-weight-semi-bold;
            }

            input[type="radio"] + .form-control-label {
                padding-top: 0.25rem;
            }
        }
    }

    .title-add-address,
    .title-edit-address {
        padding: 1rem 1rem 0 !important;
    }

    .checkout-info {
        font-size: $font-size--1;
        color: $dove-gray-secondary;
        padding: 1rem 1rem 0;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }
        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }
        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    .card-header {
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .card-body {
        padding: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .fieldset-content {
        padding: 1rem 1rem 0;
    }

    .form-group {
        position: relative;
    }

    .shipment-selector-block {
        > .btn-link {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
            padding: 0;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
        }

        .form-control-label {
            font-size: $font-size-2;
            font-family: $font-family-tertiary;
            padding-left: 3rem;
            padding-top: 0.1rem;
            display: block;
            word-break: break-all;

            @include media-breakpoint-up(md) {
                font-size: $font-size-4;
            }
            @include media-breakpoint-up(lg) {
                font-size: $font-size-8;
            }
            @include media-breakpoint-up(xl) {
                font-size: $font-size-10;
            }
        }
    }

    .address-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 3.5rem;
        margin-bottom: 2rem;
    }

    .address-actions {
        color: $info-text;
        font-size: $font-size--2;
        font-weight: $font-weight-base;
        min-width: 6rem;
        margin-left: auto;
        text-align: left;

        .btn-link {
            text-decoration: none;
            font-size: $font-size-base;
            font-family: $font-family-tertiary;
            font-weight: $font-weight-base;
            margin-top: 0;
            display: flex;
            width: 100%;
            line-height: $font-lh--3;
            letter-spacing: $font-ls-3;
            padding: 0;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
            }
            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }
        }

        .icon-svg-arrow-right-dimgray {
            display: inline-block;
            background-repeat: no-repeat;
            margin-bottom: 0.0625rem;
            height: 0.875rem;
            margin-left: 0.5625rem;
            width: 0.875rem;

            @include media-breakpoint-up(md) {
                height: 0.875rem;
                margin-left: 0.375rem;
                width: 0.875rem;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 0.125rem;
                height: 1rem;
                margin-left: 0.375rem;
                width: 1rem;
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 0.1875rem;
                height: 1.125rem;
                margin-left: 0.5625rem;
                width: 1.125rem;
            }
        }
    }

    .shipping-method-block {
        h4 {
            margin-bottom: 1.5rem;
        }

        .row {
            margin-bottom: 2.5rem;
        }

        .shipping-method-option {
            display: flex;
            font-family: $font-family-tertiary;
            letter-spacing: $font-ls-3;
            text-transform: uppercase;
            font-size: $font-size-base;
            color: $primary;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }
            @include media-breakpoint-up(lg) {
                font-size: $font-size--1;
            }
            @include media-breakpoint-up(xl) {
                font-size: $font-size-1;
            }

            .display-name {
                margin-right: 0.5rem;
            }
        }

        .form-check-label {
            padding-left: 3rem;
        }
    }

    .shipping-form-actions {
        align-items: center;
    }

    .shipping-form-action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn {
            font-size: $font-size--3;
            font-weight: $font-weight-bold;
            padding-left: 2.75rem;
            padding-right: 2.75rem;
        }
    }

    .order-total-summary {
        background-color: $alabaster;
        padding: 1.5rem 1rem 1rem;

        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 1.5rem;
        }
    }

    .next-step-button {
        margin-bottom: 1.875rem;
        margin-top: 1rem;

        .btn {
            font-size: $font-size-2;
            font-weight: $font-weight-bold;
        }
    }

    .billing-payment-options-block {
        .nav-tabs .nav-link {
            &:not(:first-child) {
                border-top: 0.0625rem solid $border-color;
            }

            &.active {
                border-bottom: 0.0625rem solid $border-color;
                margin-bottom: -0.0625rem;

                .label-service-fee {
                    display: block;
                }
            }

            &.radio-button-link {
                font-size: $font-size-base;
                font-weight: $font-weight-semi-bold;
                padding: 3rem 0;
                text-align: left;
                min-height: 4rem;

                &.payment-method-credit_card.customer-has-payment-instruments.customer-is-registered {
                    display: none;
                }

                .btn {
                    font-size: $font-size-base;
                    font-weight: $font-weight-semi-bold;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    text-decoration: underline !important;
                    text-align: left;
                }

                > i {
                    margin-right: 1rem;
                }

                > span,
                > div {
                    align-items: center;

                    > i {
                        margin-right: 1rem;
                        width: 2.5rem;
                        min-width: 2.5rem;
                        text-align: center;

                        &::before {
                            font-size: 1.4rem;
                        }
                    }

                    > .sc-icon-credit_card::before {
                        font-size: $font-size-10;
                    }
                }

                &.selected-payment > i {
                    border-color: $secondary;

                    &::after {
                        display: block;
                    }
                }

                &.selected-payment.saved-payment-instrument > i {
                    @include media-breakpoint-down(md) {
                        margin-top: -2.25rem;
                    }
                }

                .saved-credit-card-info {
                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .saved-security-code {
                    @include media-breakpoint-down(md) {
                        align-self: flex-start;
                        margin-left: 3.5rem;
                        margin-top: 0.25rem;
                    }
                }
            }

            .nav-link-note {
                font-size: $font-size--4;
                font-weight: $font-weight-medium;
                font-style: italic;
                display: block;
            }
        }

        .label-service-fee {
            display: none;
            font-family: $font-family-secondary;
            font-weight: $font-weight-extra-bold;
            white-space: nowrap;
        }

        .label-default-method {
            color: $border-color;
            font-weight: $font-weight-light;
            font-size: $font-size--2;
        }

        .form-control-label {
            font-size: $font-size--3;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }
            @include media-breakpoint-up(lg) {
                font-size: $font-size--1;
            }
            @include media-breakpoint-up(xl) {
                font-size: $font-size-1;
            }

            font-weight: $font-weight-semi-bold;
        }

        .securityCode {
            max-width: 7.7rem;
        }

        .security-code-input-container {
            display: flex;
            align-content: center;

            .form-text {
                font-size: $font-size--4;
                font-weight: $font-weight-light;
                max-width: 6.5rem;
                margin-top: 0;
                margin-left: 0.625rem;
            }
        }

        .tab-content {
            > .fieldset-content {
                background-color: $white;
                border: 0;
                padding: 0;
            }
        }

        .fade:not(.show) {
            display: none;
        }

        .fade.customer-has-payment-instruments.payment-method-credit_card {
            display: block;
            opacity: 1;
        }

        .payment-method-cod {
            .verify-phone-input:read-only {
                background-color: $white;
            }
        }

        .region-code {
            max-height: 2.75rem !important;
        }

        .applepay-content {
            button {
                display: inline-block;
                margin-top: 0;
            }
        }
    }

    .sms-verification-container {
        padding-top: 0.5rem;
        background: $white;

        .form-control-label {
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
        }

        .form-control,
        .btn.dropdown-toggle {
            padding: 0.625rem 0.75rem;
            font-size: $font-size-1;
        }

        .btn {
            padding: 0.625rem 0.5rem 0.5rem;
        }

        .phone-number-container {
            @include media-breakpoint-up(lg) {
                padding-right: 0 !important;
            }
        }
    }
}

.card.ghost {
    opacity: 0.5;
}

.billing-address {
    display: block;
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        border-bottom: 0.0625rem solid $border-color;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    @include media-breakpoint-down(sm) {
        padding: 1rem 1.5rem;
        margin: 0 !important;
    }
    @include media-breakpoint-up(md) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.order-total-summary-mobile {
    .order-total-summary {
        margin-bottom: 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.sticky-sidebar-container {
    @include media-breakpoint-down(sm) {
        padding: 0;
        width: 100%;
    }
}

.multi-ship .multi-shipping {
    display: block;
}

.order-product-summary {
    display: block;
    background-color: $body-bg !important;

    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-4 !important;
            font-weight: $font-weight-light !important;
        }

        > a {
            font-size: $font-size--2 !important;
            font-weight: $font-weight-bold !important;

            @include media-breakpoint-up(md) {
                margin-right: 1rem;
            }
        }
    }
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .checkout-step-shipping-title {
            background-color: $cali-grey-dark;
        }

        .shipping-title {
            display: block !important;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: inline;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }

            .shipment-selector-block {
                display: block !important;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new,
            .shipment-selector-block {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-add-new,
            .shipment-selector-block,
            .title-add-address {
                display: none;
            }

            .title-edit-address {
                display: block !important;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .checkout-step-payment-title {
            background-color: $cali-grey-dark;
        }

        .payment-title {
            display: block !important;
        }

        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: inline;
        }

        .terms-and-conditions-warning {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

.checkout-privacy-policy {
    color: $info-text;
    margin: 0 0 0.625rem;
    font-size: $font-size--2;

    > a {
        text-decoration: underline;
        color: $info-text !important;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-4;
    }
}

.collapse.dont-collapse-md {
    @include media-breakpoint-up(md) {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.shopping-bag-header {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        border-bottom: 0.0625rem solid $border-color;
    }

    .icon-svg-plus-tide,
    .icon-svg-minus-tide {
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
        display: inline-block;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &[aria-expanded=true] {
        border-bottom: none;

        .icon-svg-plus-tide {
            display: none;
        }
    }

    &[aria-expanded=false] .icon-svg-minus-tide {
        display: none;
    }
}

.checkout-bottom-content {
    text-align: center;
    font-size: $font-size-base;
    line-height: $font-lh--2;

    .cardlogo {
        width: 4.3125rem;

        @include media-breakpoint-up(lg) {
            width: 5.3125rem;
        }
    }

    .footer-value-props {
        padding: 0.5625rem 0.3125rem 0.875rem;
        border: 0.03125rem solid grey;
        border-radius: 5%;
        width: 100%;
        max-width: 5.625rem;
        margin: 0.625rem auto 2.4375rem;

        @include media-breakpoint-up(lg) {
            padding: 0.5625rem 0.3125rem 0.75rem;
            max-width: 7.1875rem;
            margin: 0.5rem auto 2.4375rem;
        }

        .cardlogo {
            width: 1.9375rem;
            margin-bottom: 0.3125rem;

            @include media-breakpoint-up(lg) {
                width: 2.8125rem;
                margin-bottom: 0.1875rem;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    .checkout-bottom-link {
        font-size: $font-size--2;
        line-height: $font-lh;
        margin: 0 0.9375rem;

        @include media-breakpoint-up(md) {
            margin: 0 1.5625rem;
        }
    }
}

.checkout-bottom-content-wrapper {
    margin-top: 1.4375rem;

    .checkout-bottom-content {
        &:first-child {
            position: relative;
            padding-top: 1rem;

            @include media-breakpoint-up(lg) {
                padding-top: 0.875rem;
            }

            &::before {
                content: '';
                border-top: 0.0625rem solid $border-color;
                position: absolute;
                left: 0.9375rem;
                right: 0.9375rem;
                top: 0;
            }
        }
    }
}

.checkout-bottom-link-wrapper {
    margin-bottom: 2.8125rem;
}

.checkout-footer-content-wrapper {
    @include media-breakpoint-up(md) {
        border-top: 0.0625rem solid $border-color;
    }
}

.checkout-footer-content {
    text-align: center;
    text-transform: uppercase;
    color: $primary;
    line-height: $font-lh--1;
    letter-spacing: $font-ls-3;
    padding: 1.5rem 1rem 1rem;
    word-break: break-all;

    @include media-breakpoint-up(md) {
        text-align: left;
        padding: 3rem 0 5rem;
    }

    .main-title {
        font-family: $font-family-tertiary;
        font-size: $font-size--2;
        margin-bottom: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }

    .sub-title {
        font-family: $font-family-secondary;
        font-size: $font-size--5;

        @include media-breakpoint-up(md) {
            font-size: $font-size--3;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }

    .text {
        font-family: $font-family-base;
        font-size: $font-size-base;
        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }
}
