@import "./variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/shapes";
@import "~base/utilities/responsiveUtils";
@import "./mixins/swatch";
@import "./components/quantitySelector";

.pdp-banner {
    background-color: $white;
    height: 17.1875rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    img {
        width: 100%;
    }
}

.product-name,
.product-subtitle {
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: 1.6875rem;
    margin-bottom: 1rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.5rem;
        text-align: left;
    }
}

.product-short-description {
    font-size: $font-size--2;
    line-height: 1.5;
    text-align: center;

    @include media-breakpoint-up(xl) {
        text-align: left;
    }
}

.product-name,
.product-short-description,
.product-detail .badges-container,
.product-detail .ratings-container {
    padding-right: 0.5rem;

    /* rtl:raw:
        padding-left: 0.5rem;
    */
}

.product-detail-wrapper {
    background: transparent;
    position: relative;

    @include media-breakpoint-up(lg) {
        background: $pdp-section;
        margin-bottom: 8.125rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
    }

    &.product-detail-carousel,
    &.product-video-container {
        background: $pdp-section;
        margin-bottom: 0.0625rem;
    }

    .container-fluid {
        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths, "xxl");

            &.container-fluid-absolute {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;

                .product-image-wrapper {
                    z-index: 2;
                    position: absolute;
                    top: 2.5rem;
                    left: 43%;
                    max-width: 36.25rem;
                    bottom: 0;
                    transform: translateX(-50%);
                    cursor: zoom-in;

                    /* rtl:raw:
                        right: 43%;
                        left: auto;
                        transform: translateX(50%);
                    */
                }
            }
        }
    }

    .breadcrumb-container {
        justify-content: flex-start;
        position: relative;
        padding: 0.9375rem 0 0;
        z-index: 2;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        .btn-go-back,
        .breadcrumb {
            margin: 0;
            max-width: none;
            padding: 0;
            background: transparent;
            float: left;
        }

        .btn-go-back,
        .breadcrumb-separator,
        .breadcrumb-go-back-wrapper {
            display: none !important;
        }

        .breadcrumb-link {
            font-size: $font-size-base;
            letter-spacing: $font-ls-6;
            padding: 0 0.3125rem;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &::after {
                background: $dark-grey;
                position: absolute;
                width: 0.0625rem;
                content: '';
                top: 0.375rem;
                bottom: 0.1875rem;
                right: 0;
            }
        }

        .breadcrumb-item-last {
            color: $dark-grey;
            cursor: pointer;
        }

        .breadcrumb-item {
            cursor: pointer;

            + .breadcrumb-item {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.product-video-container,
.product-detail-carousel {
    text-align: center;
    padding: 1rem 0 3.1875rem;

    @include media-breakpoint-up(md) {
        padding: 1.5rem 0 3.4375rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 3.125rem 0 3.75rem;
    }
}

.product-section-subtitle {
    font-size: $font-size-1;
    line-height: $font-lh--2;
    letter-spacing: $font-ls-13;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
        letter-spacing: normal;
        line-height: $font-lh;
        margin-bottom: 0.5rem;
    }
}

.product-section-title {
    font-size: $font-size-11;
    margin-bottom: 1.125rem;
    line-height: $font-lh;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-18;
        margin-bottom: 2rem;
    }
}

.product-outofstock-message {
    font-family: $font-family-tertiary;
    font-size: $font-size--3;
    letter-spacing: $font-ls-13;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    color: $primary;
}

.product-carousel-section {
    .product-tile-wrapper {
        padding: 0;
        margin-bottom: 0;
    }

    .product-tile {
        position: relative;
        display: block;
        height: 15.9375rem;

        @include media-breakpoint-up(lg) {
            height: 21.6875rem;
        }
    }

    .price-container {
        align-items: flex-start;

        /* rtl:raw:
            align-items: flex-end;
        */
    }

    .tile-image {
        display: inline-block;
    }

    .slick-slide {
        > div {
            margin: 0 0.125rem;
        }
    }
}

.product-video-iframe {
    position: relative;
    max-width: 68.875rem;
    height: 12.0625rem;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        height: 26.25rem;
    }

    @include media-breakpoint-up(lg) {
        height: 38.75rem;
    }

    .video-iframe {
        width: 100%;
        height: 100%;
    }

    .product-video-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .product-video-icon {
        height: 4.375rem;
        width: 4.375rem;
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
        margin: -2.1875rem 0 0 -2.1875rem;

        @include media-breakpoint-up(lg) {
            height: 7.125rem;
            width: 7.125rem;
            margin: -3.5625rem 0 0 -3.5625rem;
        }
    }

    .top-video-image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.product-info-wrapper {
    @include media-breakpoint-up(lg) {
        padding: 4.125rem 0 1.3125rem;
        max-width: 17.8125rem;
        margin-left: 2.9375rem;
    }

    .product-name,
    .product-subtitle {
        font-family: $font-family-secondary;
        font-size: $font-size-4;
        line-height: $font-lh--8;
        letter-spacing: $font-ls-13;
        text-transform: uppercase;
        margin: 0 0 0.0625rem;
        text-align: left;
        color: $primary;
        padding: 0;

        /* rtl:raw:
            text-align: right;
        */

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
            line-height: $font-lh--2;
            letter-spacing: $font-ls-12;
        }
    }

    .product-subtitle {
        font-family: $font-family-base;
    }

    .prices-add-to-cart-actions {
        margin-top: 1.3125rem;
        margin-bottom: 2.625rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 1rem;
            margin-top: 0.5625rem;
        }
    }

    .badges {
        margin: 0 0 0.25rem;
    }

    .promotions {
        margin-bottom: 0.3125rem;

        .callout {
            font-family: $font-family-secondary;
            background-color: transparent;
            font-size: $font-size--2;
            padding: 0.3125rem 0 0;
        }
    }

    .attributes-container {
        .attribute-title {
            font-size: $font-size-base;
            letter-spacing: $font-ls-6;
            color: $primary;
            display: block;
            border-bottom: 0.0625rem solid $light-grey;
            padding: 0 0 0.25rem;
            margin-bottom: 0.875rem;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0.25rem;
                margin-bottom: 0.3125rem;
            }

            /* rtl:raw:
                text-align: right;
            */
        }

        .attribute-title-button {
            border: 0.0625rem solid $border-btn-color;
            font-size: $font-size--2;
            letter-spacing: $font-ls-12;
            background: transparent;
            margin: 0;
            padding: 0.5625rem 0.625rem 0.6875rem;
            color: $primary;
            cursor: pointer;
            display: block;
            width: 100%;
            text-align: left;

            .sc-icon-caret {
                display: inline-block;
                transform: rotate(90deg);
                margin: 0.1875rem 0.125rem -0.1875rem 0;
                float: right;

                /* rtl:raw:
                    float: left;
                    transform: rotate(90deg);
                */

                &::before {
                    font-size: $font-size--5;
                }
            }
        }

        .product-sizeguide-button {
            display: inline-block;
            background: transparent;
            float: right;
            border: transparent;
            text-transform: uppercase;
            color: $primary;
            font-size: $font-size--2;
            letter-spacing: $font-ls-6;
            padding: 0;

            /* rtl:raw:
                float: left;
            */

            @include media-breakpoint-up(lg) {
                color: $dark-grey;
            }
        }

        .icon-svg-size-guide-grey,
        .icon-svg-size-guide-black {
            height: 1.25rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 1.9375rem;
        }

        .icon-svg-size-guide-grey {
            display: none;

            @include media-breakpoint-up(lg) {
                display: inline-block;
                margin: 0.125rem 0.0625rem -0.4375rem 0;
            }
        }

        .icon-svg-size-guide-black {
            display: inline-block;
            margin: 0.125rem 0.125rem -0.4375rem 0;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        [class$="-attributes-container"] {
            button {
                display: none;
            }
        }

        .size-attributes-container {
            margin-left: -0.75rem;

            button {
                display: inline-block;
            }

            > select,
            > div {
                display: none;
            }
        }

        .size-attribute {
            color: $primary;
            border: none;
            background: transparent;
            font-size: $font-size-base;
            letter-spacing: $font-ls-6;
            font-family: $font-family-tertiary;
            padding: 0.3rem 0.75rem;

            &.selected {
                text-decoration: underline;
            }
        }

        .attribute {
            margin-bottom: 2.6875rem;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0.8125rem;
            }
        }

        .attributes-container-size {
            margin-bottom: 1.0625rem;
        }

        .attribute-select {
            display: none;

            @include media-breakpoint-up(lg) {
                display: inline-block;
            }

            &.mobile {
                display: inline-block;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    .prices-add-to-cart-actions {
        .price {
            font-size: $font-size-2;
            line-height: $font-lh--8;
            letter-spacing: $font-ls-13;

            /* rtl:raw:
                justify-content: flex-start;
            */

            @include media-breakpoint-up(lg) {
                font-size: $font-size-4;
            }
        }
    }

    .add-to-cart {
        padding: 0.4375rem 0.9375rem;
        letter-spacing: $font-ls-5;

        &[disabled],
        &.disabled,
        &.unselectable {
            cursor: default;

            &:hover {
                opacity: 0.65;
            }
        }
    }
}

.attribute-container,
.product-sizeguide-container {
    padding: 1.0625rem 0.875rem;

    @include media-breakpoint-up(lg) {
        background: $white;
        position: absolute;
        display: block;
        box-shadow: none;
        right: 0;
        left: auto;
        top: -0.0625rem;
        bottom: 0;
        margin-top: 0;
        margin-right: 0;
        padding: 1.125rem 1.25rem;
        width: 33.4375rem;
        z-index: 5;
        overflow-y: auto;
        -webkit-animation: 500ms both slide-right-out;
        animation: 500ms both slide-right-out;

        /* rtl:raw:
            left: 0;
            right: auto;
        */
    }

    &.open {
        -webkit-animation: 500ms both slide-left-in;
        animation: 500ms both slide-left-in;
    }

    .color-attribute {
        background: transparent;
        border: none;
        margin: 0 0.125rem;
        padding: 0;

        @include media-breakpoint-up(lg) {
            margin: 0 0.125rem 1.875rem;
        }
    }

    .slick-slide {
        > div {
            margin: 0 0.0625rem;
            overflow: hidden;
        }
    }

    .slick-arrow {
        margin-top: -1.0625rem;

        &::after,
        &::before {
            width: 1rem;
        }
    }

    .attribute-container-title {
        position: relative;

        @include media-breakpoint-up(lg) {
            border-bottom: 0.0625rem solid $light-grey;
            margin-bottom: 1.25rem;
        }

        .attribute-title {
            font-size: $font-size-base;
            letter-spacing: $font-ls-6;
            color: $primary;
            display: block;
            border-bottom: 0.0625rem solid $light-grey;
            padding: 0 0 0.25rem;
            margin-bottom: 1.0625rem;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-family: $font-family-secondary;
                font-size: $font-size-2;
                letter-spacing: $font-ls-5;
                margin-bottom: 0;
                padding: 0 0 0.8125rem;
                display: inline-block;
                border: none;
            }
        }

        .attribute-container-close {
            position: absolute;
            top: 0;
            right: 0.8125rem;
            transform: none;
            cursor: pointer;
            width: 1.1875rem;
            height: 1.1875rem;

            @include media-breakpoint-up(lg) {
                top: 0.1875rem;
            }

            &::before,
            &::after {
                width: 1.25rem;
            }
        }
    }

    .attribute-container-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 -0.125rem;
    }
}

.attribute-container {
    padding: 0;

    @include media-breakpoint-down(md) {
        display: block !important; //overriding js
    }

    @include media-breakpoint-up(lg) {
        padding: 1.125rem 1.25rem;
    }
}

.product-sizeguide-container {
    @include media-breakpoint-up(lg) {
        width: 31.5rem;
    }

    .acc-content-images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .acc-content-image-item {
        flex: 1 0 25%;
        margin: 0.625rem;
        text-align: center;

        .acc-content-item-decsription {
            font-size: $font-size--2;
            letter-spacing: $font-ls-12;
            line-height: $font-lh--1;
            font-family: $font-family-tertiary;
            text-align: center;
        }
    }

    .acc-content-description {
        line-height: $font-lh--2;
    }

    .acc-content-link {
        text-decoration: underline;
        margin-bottom: 2rem;
        display: inline-block;
    }

    .acc-content-table {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size--3;
        font-family: $font-family-tertiary;

        &.table-small {
            width: auto;
            min-width: 12.5rem;
        }

        tr {
            td,
            th {
                padding-bottom: 1.25rem;

                &:first-child {
                    text-align: left;

                    /* rtl:raw:
                        text-align: right;
                    */
                }
            }

            th {
                letter-spacing: $font-ls-12;
                font-family: $font-family-secondary;
            }
        }
    }
}

.attribute-overlay,
.product-sizeguide-overlay {
    @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba($very-light-grey, 0.7);
        z-index: 4;
        animation: 500ms both fade-out;
        -webkit-animation: 500ms both fade-out;
    }

    &.open {
        animation: 500ms both fade-in;
        -webkit-animation: 500ms both fade-in;
    }
}

.product-sizeguide-container {
    .nav-tabs {
        border-bottom: none;
    }

    .nav-link {
        border: 0.0625rem solid $primary;
        font-size: $font-size-base;
        text-transform: uppercase;
        margin-right: 0.3125rem;
        text-align: center;
        min-width: 6.5625rem;
        opacity: 0.4;

        @include media-breakpoint-up(lg) {
            min-width: 7rem;
        }

        &.active,
        &:hover {
            opacity: 1;
            border: 0.0625rem solid $primary;
        }
    }

    .tab-content {
        padding-top: 0.875rem;

        /* rtl:raw:
            text-align: right;
        */
    }
}

.product-detail {
    margin-top: 2rem;
    margin-bottom: 0;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 3.75rem;
    }

    .product-image-container {
        position: inherit;
        flex: 0 0 100%;
        max-width: 100%;

        .product-image-carousel {
            @include media-breakpoint-down(md) {
                margin: 0;
            }

            margin: 0.3125rem 0 0;
            transition: background 0.3s ease;

            @include media-breakpoint-up(lg) {
                margin: -2.3125rem 0 0;
            }

            &.modal {
                margin: 0;
                display: block;
                background: $white;
                overflow: hidden;
                transition: background 0.3s ease;

                .modal-header {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                }

                .slick-slide {
                    position: relative;
                    height: 100vh;
                }

                .product-images {
                    height: 100%;
                    width: 100%;

                    .slick-next,
                    .slick-prev {
                        @include media-breakpoint-down(md) {
                            visibility: visible;
                            background: $white;
                            border-radius: 100%;
                            height: 2.25rem;
                            width: 2.25rem;
                            margin-top: 0;
                        }
                    }

                    .slick-prev {
                        left: 0;
                    }

                    .slick-next {
                        @include media-breakpoint-up(xl) {
                            right: 0.625rem;
                        }
                    }

                    .sc-icon-arrow-next {
                        @include media-breakpoint-down(md) {
                            margin-right: 0.375rem;

                            &::before,
                            &::after {
                                width: 0.375rem;
                                background-color: $dark-grey;
                            }
                        }
                    }

                    .sc-icon-arrow-prev {
                        @include media-breakpoint-down(md) {
                            margin-right: -0.375rem;

                            &::before,
                            &::after {
                                width: 0.375rem;
                                background-color: $dark-grey;
                            }
                        }
                    }
                }

                .product-image-holder {
                    display: flex !important;
                    flex-direction: column;
                    justify-content: center;
                    height: auto;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    cursor: default;

                    @include media-breakpoint-up(lg) {
                        height: 100vh;
                        transition: height 0.5s ease-in-out;
                    }

                    .product-image-default {
                        display: none;
                    }

                    .product-image-hires {
                        display: block;
                    }
                }

                .product-thumbnails {
                    display: none;
                    visibility: hidden;
                }
            }

            .modal-header {
                display: none;
            }
        }
    }

    .product-info-container {
        position: inherit;

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            /* rtl:raw:
                left: 0;
                right: auto;
            */
        }
    }

    .badges-container {
        height: auto;

        .badge-item {
            padding: 0 0.5625rem;
            color: $primary;

            &:first-child {
                padding-left: 0;
            }

            &:not(:last-child)::after {
                background: $primary;
                top: 0.375rem;
            }
        }
    }

    .badges {
        text-transform: uppercase;
        font-size: $font-size-base;
        letter-spacing: $font-ls-6;

        @include media-breakpoint-up(xl) {
            justify-content: flex-start;
        }
    }

    .swatch-circle {
        &.color-value {
            height: 6.9375rem;
            width: 6.9375rem;
            display: block;
            margin: 0 auto 0.0625rem;
            background-size: contain;
            background-color: $product-tile;
            border: 0.0625rem solid $product-tile;
            background-repeat: no-repeat;
            background-position: center;

            @include media-breakpoint-up(lg) {
                margin: 0 0 0.0625rem;
                height: 7.0625rem;
                width: 7.0625rem;
            }
        }

        &.selected {
            border-color: $primary;
        }

        &.unselectable {
            cursor: default;
        }
    }

    .single-select-option {
        background-color: transparent;
    }

    .product-sharing-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
            max-width: 17.8125rem;
            margin-left: 2.9375rem;
        }

        .social-container,
        .add-to-wishlist-container {
            display: inline-block;
            margin: 0;
        }

        .add-to-wishlist-container {
            position: relative;
            padding-right: 0.8125rem;
            margin-right: 1.125rem;

            /* rtl:raw:
                padding-left: 0.8125rem;
                margin-left: 1.125rem;
                padding-right: 0;
                margin-right: 0;
            */

            @include media-breakpoint-up(lg) {
                padding-right: 0.8125rem;
                margin-right: 1.5rem;

                /* rtl:raw:
                    padding-left: 0.8125rem;
                    margin-left: 1.5rem;
                    padding-right: 0;
                    margin-right: 0;
                */
            }

            &::before {
                content: '';
                position: absolute;
                top: 0.3125rem;
                right: -0.25rem;
                width: 0.0625rem;
                height: 1.0625rem;
                background: $primary-hover;
            }

            + .social-container {
                .social-icons {
                    left: 100%;
                    transform: translate(10%, 100%);

                    @include media-breakpoint-up(lg) {
                        left: auto;
                        transform: translate(50%, 100%);
                    }
                }
            }

            .btn-link {
                height: 1.5625rem;
                margin: 0;
            }

            .icon-svg-pdp-wishlist,
            .icon-svg-pdp-wishlist-full {
                height: 1.1875rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: block;
            }
        }

        .sc-icon-fav {
            &::before {
                font-size: $font-size-6;
            }
        }

        .social-icons {
            position: absolute;
            display: none;
            background-color: $white;
            text-align: center;
            padding: 0.1875rem 0;
            bottom: 2.1875rem;

            @include media-breakpoint-up(lg) {
                bottom: -1rem;
            }

            min-width: 8.75rem;
            right: -0.1875rem;
            white-space: nowrap;
            box-shadow: 0.125rem 0.125rem 0.625rem 0.125rem $very-light-grey;

            &::after {
                content: '';
                opacity: 1;
                position: absolute;
                left: -10%;
                transform: rotate(90deg);
                bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    transform: rotate(180deg);
                    bottom: 2.5rem;
                    left: 35%;
                }

                border-top: 0.625rem solid $white;
                border-right: 0.625rem solid transparent;
                border-left: 0.625rem solid transparent;
            }

            .social-icon-link {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0.375rem;
                    right: -0.25rem;

                    /* rtl:raw:
                        right: -0.65rem;
                    */

                    width: 0.0625rem;
                    height: 1.3125rem;
                    background: $tide;
                }
            }
        }

        .sc-icon-social-share,
        .sc-icon-share-1 {
            &::before {
                font-size: $font-size-5;
                vertical-align: text-top;
                display: inline-block;
                margin: 0.625rem 0.25rem 0 0;
                color: $primary;

                @include media-breakpoint-up(lg) {
                    color: $dark-grey;
                }
            }
        }
    }
}

.add-to-cart-messages {
    position: fixed;
    bottom: -1rem;
    left: 0;
    right: 0;

    .add-to-basket-alert {
        color: $white;
        background-color: $primary;
        border-color: $primary;
        font-family: $font-family-secondary;
        text-transform: uppercase;
        padding: 0.5625rem 1.25rem;
    }

    .alert + .alert {
        display: none;
    }
}

.product-images,
.product-thumbnails {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    img {
        @include media-breakpoint-up(xl) {
            max-height: 100%;
            max-width: 100%;
            width: auto !important;
        }
    }
}

.slick-initialized,
.slick-destroyed {
    &.product-images,
    &.product-thumbnails {
        overflow: initial;
        white-space: normal;
    }
}

.product-images {
    position: inherit;
    background: $very-light-grey;
    height: 23.4375rem;

    @include media-breakpoint-up(md) {
        height: 31.25rem;
    }

    @include media-breakpoint-up(lg) {
        background: transparent;
        margin-bottom: -6.5625rem;
        height: 36.1875rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        height: 36.25rem;
    }

    .product-image-holder {
        cursor: zoom-in;
        height: 23.4375rem;
        width: auto !important;
        transition: height 0.5s ease-in-out;

        .product-image-default {
            height: 100%;
        }

        .product-image-hires {
            display: none;
        }

        @include media-breakpoint-up(md) {
            height: 31.25rem;
        }

        @include media-breakpoint-up(lg) {
            height: 36.1875rem;
            transform: translate(-9.375rem);

            /* rtl:raw:
                transform: translate(9.375rem);
            */
        }

        @include media-breakpoint-up(xl) {
            height: 36.25rem;
            transform: translate(-6.25rem);

            /* rtl:raw:
                transform: translate(6.25rem);
            */
        }
    }

    .slick-slide {
        direction: rtl;

        /* rtl:raw:
            float: left;
        */
    }

    .slick-track,
    .slick-list {
        direction: ltr;

        /* rtl:raw:
            direction: ltr;
        */
    }

    .slick-next,
    .slick-prev {
        visibility: hidden;
        width: 2rem;

        @include media-breakpoint-up(lg) {
            visibility: visible;
        }

        &::before {
            display: none;
        }
    }

    .slick-prev {
        left: 0.5625rem;
        right: auto;
        z-index: 2;
        width: 2rem;
        height: 3.75rem;

        /* rtl:raw:
            right: 0.5625rem;
            left: auto;
        */

        .sc-icon-arrow-next {
            margin-left: -0.9375rem;
        }
    }

    .slick-next {
        right: 0.75rem;
        z-index: 2;
        height: 3.75rem;
        width: 2rem;
        margin-top: 0.625rem;

        /* rtl:raw:
            left: 0.75rem;
            right: auto;
        */

        .sc-icon-arrow-next {
            margin-right: -1rem;
        }
    }

    .sc-icon-arrow-next::after,
    .sc-icon-arrow-next::before,
    .sc-icon-arrow-prev::after,
    .sc-icon-arrow-prev::before {
        width: 2.5rem;
    }
}

.product-thumbnails {
    left: 0;
    top: auto;
    bottom: 0;
    max-width: 4.6875rem;
    margin: 1.25rem auto 1.75rem;
    position: relative;

    @include media-breakpoint-up(lg) {
        bottom: -6.25rem;
        margin: 1.75rem 0 0;
        max-width: 100%;

        .slick-track {
            float: left;

            .slick-slide {
                max-width: 5.5rem;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        width: 17.25rem;
        margin: 1.75rem auto;
        max-height: 4.125rem;

        .slick-track {
            float: none;

            .slick-slide {
                max-width: inherit;
            }
        }
    }

    /* rtl:raw:
        left: auto;
        right: 0;
    */

    &.product-thumbnails-vertical {
        transform: translateY(-50%);
        margin-left: 8.125rem;
        max-height: inherit;
        position: absolute;
        width: 4.875rem;
        bottom: auto;
        margin-top: 0;
        z-index: 3;
        top: 50%;

        /* rtl:raw:
            margin-right: 8.125rem;
            margin-left: auto;
        */
    }

    .slick-slide > div {
        border: 0.0625rem solid $primary;
        overflow: hidden;
        margin: 0 auto;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        position: relative;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
            border: 0.0625rem solid transparent;
            outline: 0.0625rem solid $dark-grey;
            border-radius: 0;
            margin: 0.21875rem auto;
            width: 4.375rem;
            height: 4.375rem;
            transition: $animation-default;
        }

        &:hover {
            border-color: $primary;
            background: $primary;

            @include media-breakpoint-up(lg) {
                background: transparent;
                outline-color: $primary;
            }

            &::after {
                opacity: 0;
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            transition: $animation-default;
        }
    }

    .slick-current > div {
        border-color: $primary;
        background: $primary;

        @include media-breakpoint-up(lg) {
            background: transparent;
            border-color: $primary;
            outline-color: $primary;
        }

        &::after {
            opacity: 0;
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .slick-prev {
        left: -1.5rem;
    }

    .slick-next {
        right: -1.5rem;
    }

    .sc-icon-arrow-next,
    .sc-icon-arrow-prev {
        width: 1.275rem;

        &::before,
        &::after {
            width: 1.275rem;
        }
    }
}

.product-faq,
.product-description-wrapper {
    margin-bottom: 1.25rem;
}

.product-description-wrapper {
    border-bottom: 0.0625rem solid $light-grey;
    padding-bottom: 1.25rem;

    @include media-breakpoint-up(lg) {
        border: none;
        padding-bottom: 0;
    }

    &.container-fluid {
        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths, "xxl");
        }
    }

    .product-faq-container {
        @include media-breakpoint-up(lg) {
            padding-right: 2.9375rem;

            /* rtl:raw:
                padding-left: 2.9375rem;
                padding-right: 0.9375rem;
            */
        }
    }

    .product-description-container {
        padding-left: 0;
        margin-top: -0.1875rem;

        /* rtl:raw:
            padding-left: 0.9375rem;
            padding-right: 0;
        */
    }

    .product-description-title {
        font-size: $font-size-base;
        letter-spacing: $font-ls-6;
        font-family: $font-family-base;
        color: $primary;
        display: block;
        border-bottom: 0.0625rem solid $light-grey;
        padding: 0 0 0.3125rem;
        margin-bottom: 0.3125rem;
        text-transform: uppercase;

        /* rtl:raw:
            text-align: right;
        */

        @include media-breakpoint-up(lg) {
            font-family: $font-family-secondary;
            margin-bottom: 0.6875rem;
            font-size: $font-size-base;
            border: none;
            padding: 0;
        }
    }

    .product-short-description {
        color: $primary;
        font-size: $font-size-base;
        line-height: $font-lh--7;
        letter-spacing: $font-ls-13;
        font-family: $font-family-tertiary;
        text-align: left;

        @include media-breakpoint-up(lg) {
            font-family: $font-family-base;
        }

        /* rtl:raw:
            text-align: right;
        */
    }
}

.product-additional-info {
    list-style: outside;
    line-height: 1.5rem;
    padding-left: 1.4rem;
}

.product-general-info {
    font-size: $font-size-base;
    line-height: $font-lh--3;
    letter-spacing: $font-ls-13;
    text-align: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(lg) {
        font-size: $font-size--2;
        line-height: $font-lh--6;
        letter-spacing: $font-ls-12;
        margin-bottom: 0;
    }

    b {
        font-family: $font-family-secondary;
        font-weight: $font-weight-normal;
    }
}

.product-cta {
    border-top: 0.0625rem solid $border-color;
    border-bottom: 0.0625rem solid $border-color;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;

    > .container {
        display: flex;
    }

    .image-container {
        width: 7.5rem;
        margin-right: 2.125rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 27.5rem;

        .product-name {
            font-size: $font-size-7;
            font-weight: $font-weight-medium;
            padding-right: 0;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }

        .custom-select.bootstrap-select > .dropdown-toggle {
            padding-right: 1.5rem;
        }

        .attribute-color .btn-select {
            padding-right: 1rem;
        }
    }

    .attributes-container {
        display: flex;
        margin-top: auto;

        > div {
            flex: 1;
            padding: 0 0.5rem;
            position: relative;
            max-width: 50%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .swatches {
            align-self: flex-start;
        }

        .swatches {
            background: $white;
            border-bottom: 0.0625rem solid $border-color;
            position: absolute;
            left: 0;
            right: 0;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;

            .swatch-circle {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .price-container {
        width: 15rem;
        align-self: flex-end;

        .prices-add-to-cart-actions {
            padding: 0;
        }

        .price .sales {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;
        }
    }

    .btn-container {
        width: 12.5rem;
        align-self: flex-end;

        .cart-and-ipay,
        .back-in-stock-container {
            margin-bottom: 0;
        }
    }
}

.availability {
    margin-top: -1.25rem;
}

.availability-messages {
    font-size: $font-size--2;
    text-align: center;

    > .btn {
        cursor: default !important;
        margin-bottom: 0.5625rem;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            color: $secondary;
        }
    }
}

.back-in-stock-container,
.cart-and-ipay,
.availability {
    max-width: 20.625rem;
    margin: 0 auto 1rem;

    @include media-breakpoint-up(xl) {
        max-width: 100%;
    }

    .btn {
        font-size: $font-size-2;
        width: 100%;
    }

    .fa {
        display: none;
    }
}

.cart-and-ipay {
    margin-bottom: 0;

    + .promotions {
        margin-top: -0.375rem;
    }

    .text-danger {
        font-size: $font-size-base;
        margin-bottom: 0.5rem;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}

.back-in-stock-container {
    &:not(.d-none) + .cart-and-ipay {
        display: none;
    }

    .alert {
        font-family: $font-family-secondary;
        color: $primary;
        border: none;
        background-color: transparent;
        font-size: $font-size-base;
        line-height: $font-lh--3;
        letter-spacing: $font-ls-13;
        padding: 0;
    }

    .btn-primary {
        font-size: $font-size-2;
        padding: 0.4375rem 0.625rem;
        letter-spacing: $font-ls-5;
    }

    .form-group {
        margin-bottom: 1.25rem;

        .form-control-label {
            display: none;
        }

        .form-control {
            padding: 0.4375rem 1.1875rem 0.625rem;
            text-align: center;
            font-size: $font-size-base;
            font-style: italic;
            background-color: $white;
            border-color: $primary;
            letter-spacing: $font-ls-5;
            color: $primary;

            &[placeholder] {
                font-style: italic;
                color: $primary;
            }
        }
    }
}

.product-notify-container {
    .attribute-container-title {
        @include media-breakpoint-up(lg) {
            margin-bottom: 1rem;
        }
    }
}

.product-notify-description {
    font-family: $font-family-tertiary;
    font-size: $font-size-base;
    line-height: $font-lh--3;
    letter-spacing: $font-ls-13;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-family: $font-family-base;
        line-height: $font-lh--1;
    }

    .notify-description-info {
        &:first-child {
            margin-bottom: 1.375rem;
        }
    }
}

.find-store-container {
    border-top: 0.0625rem solid $light-grey;
    margin-top: 1.25rem;
    padding-top: 0.9375rem;

    .find-store-title,
    .find-store-description {
        font-size: $font-size-base;
        line-height: $font-lh--3;
        letter-spacing: $font-ls-13;
        color: $primary;
        margin-bottom: 0.8125rem;
    }

    .find-store-title {
        font-family: $font-family-secondary;
        margin-bottom: -0.1875rem;
    }

    .btn-outline-primary {
        padding: 0.5rem 0.625rem 0.5625rem;
        font-size: $font-size-base;
        letter-spacing: $font-ls-5;
    }
}

.apple-pay-pdp {
    padding: 0;
    display: block;
}

.promotions {
    font-size: $font-size--2;
    text-align: center;
    margin-bottom: 1rem;

    .callout {
        background-color: $grey1;
        padding: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.social-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: $font-size-10;
    margin-bottom: 0.5rem;

    .social-icon-share {
        cursor: pointer;

        .icon-svg-social-share {
            width: 1.375rem;
            height: 1.1875rem;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 0.1875rem;
            display: block;

            @include media-breakpoint-up(lg) {
                width: 1.3125rem;
                height: 1.125rem;
            }
        }
    }

    .social-icon-link {
        margin: 0 0.5rem;

        &:last-child {
            &::before {
                display: none;

                /* rtl:raw:
                    display: inline-block;
                */
            }
        }

        &:first-child {
            &::before {
                /* rtl:raw:
                    display: none;
                */
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.manufacturer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.25rem;
    }
}

.manufacturer-info-label {
    font-size: $font-size--4;
    font-weight: $font-weight-semi-bold;
    margin-right: 0.25rem;
}

.manufacturer-sku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size--4;
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin-top: 2em;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        > div:last-child {
            margin-bottom: 1em;
        }
    }

    .description {

        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {

        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }
}

.complementary-container {
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(xl) {
        flex-flow: row wrap;
        margin-bottom: 1rem;
    }
}

.complementary-details {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
        padding-right: 1.5rem;
        width: 20%;
    }

    .add-to-wishlist-container {
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        @include media-breakpoint-down(lg) {
            display: inline-block;
        }
    }
}

.complementary-content {
    font-size: $font-size--2;

    h3 {
        font-size: $font-size-5;
        margin-bottom: 0.75rem;
        text-align: center;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
            margin-bottom: 1.25rem;
            text-align: left;
        }
    }
}

.complementary-cta {
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: auto;
        margin-bottom: 1.25rem;
        text-align: left;
    }

    > .btn {
        max-width: 20.625rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.complementary-total-price {
    font-size: $font-size-10;
    font-family: $font-family-secondary;
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-up(md) {
        font-size: $font-size-16;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-8;
    }
}

.complementary-total-list-price {
    color: $grey4;
    font-size: $font-size-7;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    text-decoration: line-through;

    @include media-breakpoint-up(md) {
        font-size: $font-size-12;
        font-weight: $font-weight-semi-bold;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-5;
    }
}

.complementary-total-price,
.complementary-total-list-price {
    + .btn {
        margin-top: 1rem;
    }
}

.complementary-products {
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
    }

    @include media-breakpoint-up(xl) {
        width: 80%;
    }

    > .product {
        border: 0.0625rem solid $border-color;
        display: block;
        white-space: normal;
        padding: 0.5rem 0.5rem 0;
        margin-bottom: 1.25rem;
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 15.3125rem;
            margin-bottom: 0;
        }

        + .sc-icon-plus {
            display: none;
            margin: 0 1.35rem;

            @include media-breakpoint-up(md) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 7rem;
                align-self: flex-start;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .product-tile {
        display: flex;
        text-align: left;

        @include media-breakpoint-up(md) {
            display: block;
            text-align: center;
        }

        .image-container {
            width: 6rem;
            margin-right: 0.5rem;

            @include media-breakpoint-up(md) {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-right: 0;
            }
        }

        .ratings-container {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            @include media-breakpoint-up(md) {
                justify-content: center;
            }

            .rating-stars {
                margin-right: 0.75rem;
            }

            .review-count {
                margin-top: 0;
            }
        }

        .tile-body {
            @include media-breakpoint-down(sm) {
                flex: 1;
                padding-bottom: 0.875rem;
                padding-right: 0.125rem;
            }

            @include media-breakpoint-only(md) {
                padding-bottom: 1rem;
            }

            @include media-breakpoint-only(lg) {
                padding-bottom: 1rem;
            }

            .price .sales,
            .price .list {
                @include media-breakpoint-down(sm) {
                    justify-content: flex-start;
                    text-align: left;
                }
            }

            > .btn {
                display: block;
                float: right;
                max-width: 16rem;
                width: 100%;

                @include media-breakpoint-only(md) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-only(lg) {
                    font-size: $font-size--5;
                    padding: 0.5rem 0.5rem 0.375rem;
                }

                @include media-breakpoint-up(md) {
                    float: none;
                    margin: 0 auto;
                    width: 90%;
                }

                @include media-breakpoint-up(xl) {
                    display: inline-block;
                    width: auto;
                }
            }

            .pdp-link a {
                /* rtl:raw:
                    font-size: #{$font-size-base};
                */
                @include media-breakpoint-up(md) {
                    /* rtl:remove */
                    font-size: $font-size--1;

                    /* rtl:raw:
                        font-size: #{$font-size-3};
                    */
                }

                @include media-breakpoint-up(xl) {
                    /* rtl:raw:
                        font-size: #{$font-size-base};
                    */
                }
            }
        }

        .badges {
            justify-content: flex-start;
        }

        .callout {
            background: transparent;
        }

        @include media-breakpoint-down(sm) {
            .badges-container,
            .name-container,
            .price-container,
            .ratings-container {
                height: auto;
            }
        }
    }
}

.price {
    font-size: $font-size-10;
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.add-to-wishlist-mobile {
    max-width: 15rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .add-to-wishlist-container {
        position: absolute;
        top: 1rem;
        right: -1rem;
    }

    .btn-link-with-icon {
        > span {
            display: none;
        }

        > i::before {
            font-size: $font-size-8;
        }
    }
}
