@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

.checkout-main-section {
    @include media-breakpoint-down(sm) {
        background: $tertiary-hover;
        padding-top: 0.5rem;
    }
}

.checkout-login-forms-wrapper {
    display: flex;
    flex-direction: column;

    .form-auth {
        margin: 0 auto;

        .modal-register-btn,
        .modal-reset-password-btn {
            display: none;
        }

        @include media-breakpoint-up(md) {
            max-width: 32.375rem;
        }

        @include media-breakpoint-up(xl) {
            max-width: 23.9375rem;
        }
    }

    .create-account-wrapper {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        hr {
            display: none;
        }

        .container-title {
            margin-top: 0;
        }
    }

    .login-container {
        margin-top: 1rem;
        @include media-breakpoint-down(sm) {
            background: $white;
            box-shadow: 0 0 0.5rem 0 rgba($black, 0.1);
            padding-top: 1.5rem;
            padding-bottom: 2rem;
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: 5rem;

            &::after {
                content: '';
                border-right: 0.0625rem solid $hr-border-color;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
            }

            .oauth-padding {
                padding-top: 3.15rem;
            }
        }

        .outh-section {
            @include media-breakpoint-down(sm) {
                display: none !important;
            }
        }

        button {
            height: 3rem;
            font-weight: $font-weight-extra-bold;
        }
    }
}

.checkout-register-wrapper {
    display: none;

    @include media-breakpoint-down(sm) {
        background: $white;
        box-shadow: 0 0 0.5rem 0 rgba($black, 0.1);
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        display: block;
    }

    h2 {
        font-size: $font-size-10;
        font-weight: $font-weight-extra-bold;
        text-align: left;
        text-transform: capitalize;
        margin-bottom: 0.75rem;
    }

    a {
        height: 3rem;
        font-weight: $font-weight-extra-bold;
        border: 0.125rem solid $primary;
        font-size: $font-size-2;
        margin-top: 1rem;
    }
}

.guest-checkout-wrapper {
    @include media-breakpoint-down(sm) {
        background: $white;
        box-shadow: 0 0 0.5rem 0 rgba($black, 0.1);
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .container-title {
        margin: 1.65rem 0 0.65rem;
        font-family: $font-family-base;
        text-transform: uppercase;
        font-size: $font-size-12;
        font-weight: $font-weight-light;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-10;
            font-weight: $font-weight-extra-bold;
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: left;
            text-transform: capitalize;
        }

        &::after {
            display: none;
        }
    }

    p {
        text-align: center;
    }

    button {
        height: 3rem;
        font-weight: $font-weight-extra-bold;
    }
}
