@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.error-message {
    margin-bottom: 3.125rem;
}

.error-page-content {
    margin-top: 3.125rem;
    margin-bottom: 6.25em;

    .continue-shopping {
        padding: 0.713rem 2.67rem 0.6rem !important;
        font-size: 1rem !important;
    }
}
