@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.bottom-content-section {
    .bottom-content-item {
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            padding: 0.0625rem;
        }

        .bottom-content-box {
            background: $primary;
            color: $white;
            min-height: 11.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            cursor: pointer;

            i {
                margin-bottom: 1.25rem;

                &::before {
                    font-size: $font-size-36;
                }
            }

            span {
                font-size: $font-size-2;
            }
        }
    }
}

.bottom-content-modal {
    .modal-dialog {
        max-width: 24.375rem;

        .modal-content {
            border-radius: 0.1875rem;
            border: 0.0625rem solid #d5d5d5;

            .modal-header {
                position: relative;
                font-weight: $font-weight-extra-bold;
                font-size: $font-size-2;
                border-bottom: 0.0625rem solid $grey2;
                height: 3.125rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                .close {
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .modal-body {
                max-height: 30.375rem;
                line-height: 1.875rem;
                overflow-y: scroll;
            }
        }
    }
}

.no-srp-prods {
    .slick-next {
        background: url(../images/arrow-icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 2.5rem !important;
        transform: translateY(-50%) rotate(-90deg);
        top: 50%;

        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }

    .slick-prev {
        background: url(../images/arrow-icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 2.5rem !important;
        transform: translateY(-50%) rotate(90deg);
        top: 50%;

        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }

    .tile-image {
        width: 80% !important;
        margin: 0 auto !important;
    }
}
