@import "./variables";
@import "./api/all";
@import '~brand_core/mixins/mixinsGlobal';
@import "~brand_core/product/detail";
@import "./components/product-details/image-carousel";
@import "./components/product-details/product-info";

.product-detail {
    .add-to-wishlist {
        float: right;
        margin-top: -0.4375rem;
        margin-right: -0.625rem;
    }

    .product-name {
        font-size: $font-size-base;
        font-family: ff(secondary);
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $line-height-15;
        text-transform: uppercase;
        margin: 0;
        border: none;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, sans-serif;
        */

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
            line-height: $line-height-18;
        }
    }

    .product-price {
        margin: 0 0 0.625rem;
        font-family: $font-family-tertiary;
        text-align: left;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */

        .price {
            font-size: $font-size--3;
            line-height: 1.5rem;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            .sales {
                font-weight: normal;
            }
        }
    }

    .ratings-container {
        margin: 0 0 0.625rem;
        display: flex;
        flex-wrap: wrap;

        .rating-summary {
            display: none;
        }

        .rating-icon {
            &::before {
                font-size: $font-size--6;
            }
        }

        .review-count {
            margin-right: 0.625rem;
        }
    }

    .product-image-container {
        position: inherit;
        flex: 0 0 100%;
        max-width: 100%;

        .product-image-carousel {
            margin: 0;
            transition: background 0.3s ease;

            .product-images {
                max-height: 26.5625rem;
                background: $brand-light;
                margin: 0 -1.25rem;
                white-space: nowrap;

                @include media-breakpoint-up(sm) {
                    margin: 0 -1.875rem;
                }

                @include media-breakpoint-up(md) {
                    max-height: 44.25rem;
                }

                @include media-breakpoint-up(xl) {
                    max-height: initial;
                    background: transparent;
                    margin: 0 0 4.0625rem;
                }

                .img-fluid {
                    cursor: zoom-in;
                    background: $brand-light;
                    max-width: 100%;
                    width: auto !important;
                    margin: 0 auto 1.25rem;
                    padding: 0;

                    @include media-breakpoint-up(md) {
                        max-height: initial;
                        margin-bottom: 0;
                    }
                }

                .slick-prev {
                    left: auto;

                    @include media-breakpoint-up (xl) {
                        left: 2.0625rem;
                    }
                }

                .slick-next {
                    right: auto;

                    @include media-breakpoint-up (xl) {
                        right: 2.0625rem;
                    }
                }
            }

            &.modal {
                margin: 0;
                display: block;
                background: $white;
                position: fixed;
                overflow: hidden;
                transition: background 0.3s ease;

                .modal-header {
                    background: transparent;
                    position: absolute;
                    display: block;
                    z-index: 2;
                    top: 0;
                    right: 0;
                    left: 0;

                    .close {
                        margin: 0;
                    }
                }

                .slick-slide {
                    position: relative;
                    height: 100vh;
                }

                .product-images {
                    height: 100%;
                    width: 100%;
                    cursor: default;
                    margin: 0;
                    position: initial;
                    background: transparent;

                    .slick-next,
                    .slick-prev {
                        @include media-breakpoint-down(md) {
                            visibility: visible;
                            background: $white;
                            border-radius: 100%;
                            height: 2.25rem;
                            width: 2.25rem;
                            margin-top: 0;
                        }
                    }

                    .slick-prev {
                        left: 0;
                    }

                    .slick-next {
                        right: 0;

                        @include media-breakpoint-up(xl) {
                            right: 0.625rem;
                        }
                    }

                    .sc-icon-arrow-next {
                        @include media-breakpoint-down(md) {
                            margin-left: -0.3125rem;

                            &::before,
                            &::after {
                                width: 0.375rem;
                                background-color: $primary;
                            }
                        }
                    }

                    .sc-icon-arrow-prev {
                        @include media-breakpoint-down(md) {
                            margin-right: -0.3125rem;

                            &::before,
                            &::after {
                                width: 0.375rem;
                                background-color: $primary;
                            }
                        }
                    }
                }

                .img-fluid {
                    background: transparent;
                    height: auto;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    cursor: default;
                    max-width: 100%;
                    max-height: 100%;

                    @include media-breakpoint-up(lg) {
                        transition: height 0.5s ease-in-out;
                    }
                }

                .slick-dots {
                    display: none;
                }

                .product-thumbnails {
                    display: none;
                    visibility: hidden;
                }
            }

            .modal-header {
                display: none;
            }
        }
    }
}

.product-carousel-wrapper {
    .recommendations-carousel-title {
        font-family: ff(secondary);
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        line-height: $line-height-base;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        margin-bottom: 1.25rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(lg) {
            font-size: $font-size-base;
        }
    }

    .recommendations-carousel {
        margin: 0 -0.4375rem 5.625rem;

        @include media-breakpoint-up(lg) {
            margin: 0 -0.9375rem 5.625rem;
        }

        .product-tile {
            padding: 0 0.4375rem;

            @include media-breakpoint-up(lg) {
                padding: 0 0.9375rem;
            }

            .product-tile-add-to-cart {
                display: none;
            }

            .pdp-link {
                white-space: normal;
            }

            .swatches-container {
                white-space: normal;
            }

            .color-swatches {
                .swatch-circle-image {
                    margin: 0;
                }
            }

            .slick-arrow {
                opacity: 0;
                transition: $animation-default;

                &::before {
                    font-size: $font-size-2;
                }
            }

            .slick-next {
                right: 0.625rem;

                /* rtl:raw:
                    right: auto;
                    transform: rotate(180deg);
                */

                &:hover {
                    right: 0.4375rem;
                }
            }

            .slick-prev {
                left: 0.625rem;

                /* rtl:raw:
                    left: auto;
                    transform: rotate(180deg);
                */

                &:hover {
                    left: 0.4375rem;
                }
            }

            .product-tile-image-carousel {
                &:hover {
                    .slick-arrow {
                        @include media-breakpoint-up(xl) {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.add-to-cart-messages {
    display: none;
}

.product-main-content {
    @include media-breakpoint-up(xl) {
        padding-top: 1rem;
        max-width: 25.375rem;
    }
}

.add-to-wishlist-btn {
    padding: 0.625rem;

    .sc-icon {
        &::before {
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }
}
