@import 'variables';
@import 'api/all';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.store-locator-wrapper {
    max-width: 66.5rem;

    @include media-breakpoint-up(sm) {
        max-width: 67.75rem;
    }

    @include media-breakpoint-up(xl) {
        max-width: 69.625rem;
    }
}

.btn-location {
    display: inline-block;
    background: url(../images/crosshair-sprite-sm.gif) no-repeat;
    transition: color 0.2s ease-in;
    padding: 0 0 0.75rem 1.75rem;
    min-height: 1.375rem;
    text-transform: capitalize;
    font-size: $font-size--4;
    margin-left: 1.4375rem;

    /* rtl:raw:
        background-position: right top;
    */

    @include media-breakpoint-up(md) {
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    &:hover {
        background-position: 0 -2.9375rem;
        color: $grey16;
    }
}

.store-locator-banner {
    margin: 0 -1.25rem;

    @include media-breakpoint-up(sm) {
        margin: 0 -1.875rem;
    }

    @include media-breakpoint-up(xl) {
        margin: 0;
    }

    .store-locator-banner-img {
        width: 100%;
    }
}

.store-locator-form {
    margin-left: 1.4375rem;

    .form-group {
        margin-bottom: 1.5625rem;
    }
}

.store-locator-container {
    .storelocator-main-title {
        font-family: ff(tertiary);
        display: block;
        font-size: $font-size-8;
        text-transform: uppercase;
        padding: 1.5625rem 0;
        margin: 0;
        width: 100%;

        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }

    .stores-list {
        font-family: ff(tertiary);
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $primary;
        display: flex;
        flex-wrap: wrap;
        font-weight: $font-weight-normal;
    }

    .store-list-item {
        display: block;
        position: relative;
        margin: 0 0.625rem 1.875rem 1.875rem;
        width: 100%;
        float: left;

        @include media-breakpoint-up(sm) {
            margin-left: 0;
            margin-right: 2%;
            width: 44%;
        }

        @include media-breakpoint-up(md) {
            margin-right: 2%;
            width: 27.33%;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 2% 2.5rem 0;
            width: 22%;
        }
    }

    .store-name {
        font-family: ff(tertiary);
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $tory-navy;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
    }

    .store-details-info {
        margin-left: 0;
        padding-bottom: 1rem;

        .store-address {
            p {
                margin-bottom: 0;
                font-size: $font-size--3;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }

        .store-list-item-link,
        .store-hours-hdr {
            color: $tory-navy;
            text-transform: uppercase;
            font-family: ff(secondary);
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            font-weight: $font-weight-heavy;
        }

        .store-location-info {
            position: absolute;
            bottom: 0;
            left: 0;

            @include media-breakpoint-down(xs) {
                position: relative;
            }

            .store-map-link {
                height: 1.875rem;
                padding: 0.4375rem 1rem;
                font-size: $font-size--5;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                background-color: $primary;
                border-color: $primary;
                text-decoration: none;
                box-shadow: none;
                color: $white;

                @include media-breakpoint-up(xl) {
                    height: auto;
                    padding: 0;
                    color: $orange;
                    background: transparent;
                    border: none;
                    text-decoration: underline;
                }

                &:hover,
                &:not(:disabled):not(.disabled):active,
                &:not(:disabled):not(.disabled).active,
                &:not(:disabled):not(.disabled):active:focus,
                &:not(:disabled):not(.disabled).active:focus {
                    background-color: $primary-hover;
                    border-color: $primary-hover;
                    text-decoration: none;
                    box-shadow: none;
                    color: $white;

                    @include media-breakpoint-up(xl) {
                        color: $orange-dark;
                        background: transparent;
                        border: none;
                        text-decoration: underline;
                    }
                }
            }
        }

        .store-hours {
            margin: 0.9375rem 0;

            /* rtl:raw:
                font-family: "GeezaPro", Arial, Sans-serif;
            */
        }

        &.main-store-info {
            position: relative;

            .store-hours {
                margin-bottom: 1.25rem;
            }
        }
    }
}
