@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.store-locator-wrapper > .row,
.store-detail-container > .row {
    @include media-breakpoint-down(lg) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.map-marker {
    float: left;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 0.375em;
    color: $white;
    background-color: $blue;
    position: relative;

    &::after {
        position: absolute;
        bottom: -0.625em;
        left: 50%;
        transform: translate(-50%, 0);
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 0.5em 0;
        border-color: $blue transparent transparent transparent;
    }
}

.gm-style-iw {
    .store-details {
        margin-left: 0;
        font-family: $font-family-sans-serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
    }

    a {
        color: $blue;
    }
}

.store-locator-no-apiKey {
    display: none;
}

.store-locator-no-results {
    display: none;
}

.store-locator-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}

.map-canvas {
    height: 22.9rem;
    display: block;

    @include media-breakpoint-up(md) {
        height: 31.25rem;
    }
}

.store-locator-results {
    @include media-breakpoint-up(md) {
        height: 31.25rem;
        overflow-y: auto;
        padding: 1rem;
    }
}

.store-list-item {
    justify-content: space-between;
    font-size: $font-size-1;
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid $hr-border-color;

    .open {
        address {
            display: block;
        }

        + .store-list-item-link {
            display: block;
        }
    }

    address {
        display: none;
        color: $grey5;
    }

    .store-list-item-link {
        display: none;
    }
}

.store-name {
    font-weight: $font-weight-medium;
    color: $black;
    text-transform: uppercase;
    margin: 0 0 0.625rem;
    font-size: $font-size-2 !important;

    img {
        width: auto;
        margin-top: 0.625rem;
        margin-right: 0.625rem;
    }
}

.store-list-item-link {
    white-space: nowrap;
    text-decoration: underline;
    color: $grey5;
}

h2.store-detail-title {
    font-size: $font-size-8;
    font-weight: $font-weight-light;
    font-family: $font-family-base;
    text-transform: uppercase;
}

h3.store-detail-subtitle {
    font-size: $font-size-1;
    // font-weight: $font-weight-semi-bold;
    font-family: $font-family-base;
}

.store-detail-address {
    display: flex;
    justify-content: space-between;
    color: $grey5;

    p {
        margin-bottom: 0;
    }

    .address-line {
        @include media-breakpoint-up(xl) {
            padding-right: 3rem;
        }
    }
}

.get-directions-btn {
    white-space: nowrap;
    align-self: start;
    font-size: $font-size-1;
    flex-direction: column;
    align-items: center;
    color: $white !important;
}

.store-closed,
.store-open {
    > div:first-child {
        // font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
    }

    font-size: $font-size-1;
}

.store-phone-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
    }
}

.store-directions-column {
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-right: 0.0625rem solid $hr-border-color;
    }
}

.store-detail-container {
    .map-canvas {
        @include media-breakpoint-up(xl) {
            height: 45.125rem;
        }
    }
}

.area-selector-or {
    width: 2rem;
}

.store-locator-results::-webkit-scrollbar-track {
    background-color: $white;
}

.store-locator-results::-webkit-scrollbar {
    width: 0.3125rem;
}

.store-locator-results::-webkit-scrollbar-thumb {
    background-color: $grey3;
}

.store-header {
    font-size: $font-size-28;
    font-weight: $font-weight-bold;
}

.js-store-whereabout {
    font-size: $font-size-13;
    font-weight: $font-weight-bold;
}

@media print {
    @page { margin: 0; }
    body { margin: 3.7rem; }

    footer {
        display: none;
    }
}

.use-location-btn {
    padding: 0.6rem 1rem !important;
    font-size: $font-size--1;

    @include media-breakpoint-up(xl) {
        width: 75% !important;
    }
}

.btn-search-ok {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-size: $font-size--1;
}

.store-hour {
    font-size: $font-size-base !important;
}

.store-detail-dialog-address {
    font-size: $font-size-1;
    font-weight: $font-weight-light;
}

.store-name-dialog {
    font-size: $font-size-base;
}

.use-myPosition-btn {
    color: $white !important;
}

.menu-print-map {
    vertical-align: top;
    text-align: right;
    font-size: $font-size-1;
}

.menu-print-map:hover {
    cursor: pointer;
}

.icon-print-map {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cmVjdCB4PSI4LjgiIHk9IjUuNyIgZmlsbD0iIzAxMDIwMiIgd2lkdGg9IjEyLjQiIGhlaWdodD0iMy41Ii8+PHBhdGggZmlsbD0iIzAxMDIwMiIgZD0iTTcsMTQuNWMwLjcsMCwxLjMtMC42LDEuMy0xLjNjMC0wLjctMC42LTEuMy0xLjMtMS4zcy0xLjMsMC42LTEuMywxLjNDNS43LDEzLjksNi4zLDE0LjUsNywxNC41IE0xMC42LDIyLjVoOC44di02LjJoLTguOFYyMi41eiBNMjUuNiwxMC4xVjE4aC00LjR2Ni4ySDguOFYxOEg0LjR2LTcuOEgyNS42eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    border: 0.0625rem solid $grey3;
    padding: 0;
    width: 1.125rem;
    height: 1.125rem;
    display: inline-block;
}
