.right-0 {
    right: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.px-0-lg-down {
    @include media-breakpoint-down(lg) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.mx-0-lg-down {
    @include media-breakpoint-down(lg) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.max-width-100-lg-down {
    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
    }
}
