@mixin icon() {
    display: inline-block;
    font-family: 'fontello' !important;
    font-style: normal;
    font-weight: $font-weight-normal;
    text-decoration: inherit;
    transform: rotateZ(0);
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
