@import "../variables";

$font-families-map: (
    base         : (base: $font-family-base, rtl: $font-family-base-ar),
    secondary    : (base: $font-family-secondary, rtl: $font-family-secondary-ar),
    tertiary     : (base: $font-family-tertiary, bold: $font-family-tertiary-bold, rtl: $font-family-secondary-ar),
    fourthly    : (base: $font-family-fourthly, rtl: $font-family-secondary-ar)
);

@function ff($font-family: default,  $bold: false, $ignoreRTL: false) {
    $fontFamily: null;
    $fontFamilyMap: map-get($font-families-map, $font-family);

    @if (map-has-key($fontFamilyMap, 'rtl')) and ($ignoreRTL != true) {
        $fontFamily: map-get($fontFamilyMap, 'base') rtl(map-get($fontFamilyMap, 'rtl'));

        @if $bold == 'bold' {
            $fontFamily: map-get($fontFamilyMap, 'bold') rtl(map-get($fontFamilyMap, 'rtl'));
        }
    } @else {
        $fontFamily: map-get($fontFamilyMap, 'base');

        @if $bold == 'bold' {
            $fontFamily: map-get($fontFamilyMap, 'bold') rtl(map-get($fontFamilyMap, 'rtl'));
        }
    }

    @return $fontFamily;
}
