@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.brand-offers {
    .common-image-filter {
        width: 100%;
        max-height: 23.9375rem;
        object-fit: cover;
    }

    .container-title {
        font-weight: $font-weight-bold;
        margin-top: 1.25rem;

        @include media-breakpoint-up(md) {
            font-size: fz(p23);
        }

        &::after {
            display: none;
        }
    }
}

.brand-offers-title {
    color: $secondary;
    font-size: fz(h4);
    font-weight: $font-weight-bold;
    line-height: $font-lh--5;
    margin-bottom: 0.75rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: fz(p23);
        font-weight: $font-weight-medium;
        margin-bottom: 1rem;
        text-align: left;
    }
}

.brand-offers-description {
    p {
        font-size: fz(body);
        font-weight: $font-weight-normal;
        line-height: $font-lh--12;
        letter-spacing: normal;
    }
}

.brand-offers-content-wrapper {
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(xl) {
        padding-top: 2.5rem;
        margin-bottom: 3.875rem;
    }
}

.brand-offers-content-container {
    margin-bottom: 1.125rem;
    max-width: 59.125rem;

    @include media-breakpoint-up(md) {
        padding: 0 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0.9375rem;
    }
}

.brand-offers-content {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.875rem;
    text-align: left;

    @include media-breakpoint-up(md) {
        padding-top: 2.25rem;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 2.25rem;
    }

    p {
        margin-bottom: 0.875rem;
    }

    blockquote {
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    .btn-primary {
        margin: 0 auto;
        min-width: 9.8125rem;

        @include media-breakpoint-up(md) {
            margin: 0;
            min-width: 13rem;
        }

        @include media-breakpoint-up(md) {
            min-width: 10rem;
        }
    }
}

.brand-offers-image {
    object-fit: cover;
    max-height: 12.5rem;
    width: 100%;

    @include media-breakpoint-up(md) {
        min-height: 24rem;
    }
}

/* Popular Categories */
.popular-categories {
    margin: 1.25rem auto;

    .popular-cat-heading {
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
    }
}
