@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,700,700i&display=swap&subset=latin-ext);

@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.dior-section {
    font-family: 'Muli', sans-serif;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    color: $black;

    @include media-breakpoint-up(xl) {
        margin-top: 1.125rem;
        margin-bottom: 1.125rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }

    > .region {
        padding: 0;
    }

    &.m-head {
        border-top: 0;
        padding-top: 0;
    }

    * {
        font-family: 'Muli', sans-serif;
    }

    b,
    strong {
        font-weight: $font-weight-bold;
    }

    img {
        max-width: 100%;
    }

    p {
        font-size: fz(body);
        line-height: $font-lh--12;
        letter-spacing: 0.03rem;
        color: $black;
    }

    .photo-tile-figure {
        @include media-breakpoint-up(xl) {
            margin-bottom: 2.5rem;
        }
    }
}

.dior-section-header {
    position: relative;
    text-align: center;
    font-size: fz(h2);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 1.5625rem;
    padding: 0;
    line-height: $font-lh--3;

    @include media-breakpoint-down(sm) {
        font-size: fz(h3);
    }
}

.dior-section-header-text {
    position: relative;
    display: inline-block;
    padding: 0 4.1875rem;
    background: $white;
}

.dior-section-subtitle {
    font-size: fz(p16);
    text-transform: uppercase;
    margin: 0 0 0.9375rem;
    line-height: $font-lh--3;

    @include media-breakpoint-up(md) {
        font-size: fz(p17);
        margin: 0 0 0.625rem;
    }
}

.dior-section-title {
    font-size: fz(h3);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    max-width: 33.75rem;
    line-height: $font-lh--3;
    letter-spacing: 0.1275rem;
}

.dior-section-description {
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;

    h2 {
        font-size: fz(p17);

        @include media-breakpoint-up(md) {
            font-size: fz(h2);
        }
    }
}

.dior-selected-category {
    position: relative;
    font-size: fz(h2);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5625rem 0;
    color: $black;

    @include media-breakpoint-down(sm) {
        font-size: fz(h4);
        border-top: 0.0625rem solid $tertiary;
        border-bottom: 0.0625rem solid $tertiary;
        padding: 0.75rem 0;
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

    @include media-breakpoint-only(md) {
        margin-top: 2.8125rem;
    }

    @include media-breakpoint-up(md) {
        &::before {
            content: '';
            width: 100%;
            height: 0.0625rem;
            background: $tertiary;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    p {
        position: relative;
        display: inline-block;
        background: $white;
        padding: 0 4.375rem;
    }
}

.photo-tile-container {
    @include media-breakpoint-down(lg) {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    > .row {
        margin-left: 0;
        margin-right: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
