@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.popular-brands {
    .global-carousel {
        margin-bottom: 1rem;
        max-width: 67.8125rem;

        @include media-breakpoint-up(md) {
            padding: 0 2.5rem;
        }

        .slick-arrow {
            top: 50%;
            height: 4rem;
        }

        .slick-list {
            margin: 0 4.125rem;

            @include media-breakpoint-up(md) {
                margin: 0 -1rem;
            }
        }

        .slick-slide {
            max-height: 4.6875rem;

            @include media-breakpoint-up(md) {
                max-height: 7.5rem;
            }
        }
    }

    + .container-divider {
        margin: 1.875rem auto;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            margin: 1.25rem 0 1.875rem;
        }

        @include media-breakpoint-up(xl) {
            margin: 1.9375rem auto 2.5625rem;
        }
    }
}

[dir="rtl"] .popular-brands {
    .slick-prev,
    .slick-next {
        transform: translateY(-50%);
    }

    .slick-prev {
        right: -0.5rem;
        left: auto;
    }

    .slick-next {
        left: -0.5rem;
        right: auto;
    }

    @include media-breakpoint-up(md) {
        .slick-prev {
            right: -1rem;
            left: auto;
        }

        .slick-next {
            left: -1rem;
            right: auto;
        }
    }
}
