.checkout-steps-background {
    background-color: $alabaster;
}

.checkout-steps-container {
    max-width: 32.375rem;
}

.checkout-steps-wrapper {
    display: flex;
    font-size: $font-size--3;
    color: $grey4;
    justify-content: space-around;
    padding: 0.4375rem 0;

    span,
    a {
        position: relative;
        display: block;
        flex-grow: 1;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        padding: 0.25rem 0;

        &.checkout-steps-active {
            color: $secondary;
            font-weight: $font-weight-semi-bold;
        }

        &.hover {
            text-decoration: underline;
        }
    }
}

.checkout-steps-seperator {
    border-right: 1px solid $grey4;
    width: 1px;
    flex-grow: 0 !important;
}
