.product-carousel {
    &.container {
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.25rem;
        }
    }

    .col > .btn-tertiary {
        display: block;
        margin: 0 auto 1.5625rem;

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
}

.product-carousel-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(xl) {
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    &.product-carousel-mobile {
        display: block;
        overflow: hidden;
        white-space: nowrap;

        .slick-prev {
            /* rtl:ignore */
            left: -1rem;
            width: 1rem;

            @include media-breakpoint-up(sm) {
                /* rtl:ignore */
                left: -0.5rem;
                width: 2rem;
            }

            @include media-breakpoint-up(md) {
                /* rtl:ignore */
                left: -2rem;
                width: 4rem;
            }
        }

        .slick-next {
            /* rtl:ignore */
            right: -1rem;
            width: 1rem;

            @include media-breakpoint-up(sm) {
                /* rtl:ignore */
                right: -0.5rem;
                width: 2rem;
            }

            @include media-breakpoint-up(md) {
                /* rtl:ignore */
                right: -2rem;
                width: 4rem;
            }
        }

        .sc-icon-arrow-next::after,
        .sc-icon-arrow-next::before,
        .sc-icon-arrow-prev::after,
        .sc-icon-arrow-prev::before {
            width: 1.075rem;

            @include media-breakpoint-up(md) {
                width: 1.575rem;
            }

            @include media-breakpoint-up(xl) {
                width: 1.875rem;
            }
        }
    }

    .slick-next,
    .slick-prev {
        visibility: visible;
    }

    .slick-prev {
        /* rtl:ignore */
        left: -4rem;
    }

    .slick-next {
        /* rtl:ignore */
        right: -4rem;
    }

    > .product {
        display: inline-block;
        white-space: normal;
        margin-bottom: 1rem;
        width: 46%;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.75rem;
            width: 45%;
        }

        @include media-breakpoint-up(xl) {
            width: 22.25%;
            margin-right: 1.375% !important;
            margin-left: 1.375% !important;
        }

        &:nth-child(odd) {
            margin-right: 2%;

            @include media-breakpoint-up(md) {
                margin-right: 2.5%;
            }
        }

        &:nth-child(even) {
            margin-left: 2%;

            @include media-breakpoint-up(md) {
                margin-left: 2.5%;
            }
        }
    }

    &[data-initial-item-count='4'] > .product:nth-child(n + 5),
    &[data-initial-item-count='6'] > .product:nth-child(n + 7),
    &[data-initial-item-count='12'] > .product:nth-child(n + 13) {
        display: none;
    }

    &:not(.product-list-items) {
        &[data-initial-item-count='4'] > .product:nth-child(n + 5),
        &[data-initial-item-count='6'] > .product:nth-child(n + 7),
        &[data-initial-item-count='12'] > .product:nth-child(n + 13) {
            @include media-breakpoint-up(xl) {
                display: inline-block;
            }
        }
    }

    .slick-slide .product {
        white-space: normal;
        margin-right: 4% !important;
        margin-left: 4% !important;

        @include media-breakpoint-up(xl) {
            margin-right: 5.5% !important;
            margin-left: 5.5% !important;
        }
    }
}

.slick-destroyed,
.slick-initialized {
    &.product-carousel-items {
        @include media-breakpoint-up(xl) {
            display: block;
            overflow: initial;
            white-space: normal;
        }

        &.product-carousel-mobile {
            display: block;
            overflow: initial;
            white-space: normal;

            @include media-breakpoint-only(sm) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}

.container-oob {
    .product-carousel-items {
        .sc-icon-arrow-next::after,
        .sc-icon-arrow-next::before,
        .sc-icon-arrow-prev::after,
        .sc-icon-arrow-prev::before {
            background-color: $dove-gray;
        }
    }
}

.carousel-mobile-active {
    @include media-breakpoint-down(lg) {
        .slick-prev {
            left: -1.5rem;
            width: 1.9rem;
        }

        .slick-next {
            right: -1.5rem;
            width: 1.9rem;
        }
    }
}
