@import '../variables';
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.track-order-header-text {
    font-size: $font-size--1;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
    }
}
