@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    font-display: 'swap';
    src:
        local('Futura'),
        url('../fonts/SwarovskiFutura-Book.woff2?134228') format('woff2'),
        url('../fonts/SwarovskiFutura-Book.woff?134228') format('woff'),
        url('../fonts/SwarovskiFutura-Book.ttf?134228') format('truetype'),
        url('../fonts/SwarovskiFutura-Book.eot?134228?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-BooObl.eot?134228');
    src:
        url('../fonts/Futura-BooObl.woff2?134228') format('woff2'),
        url('../fonts/Futura-BooObl.woff?134228') format('woff'),
        url('../fonts/Futura-BooObl.ttf?134228') format('truetype'),
        url('../fonts/Futura-BooObl.eot?134228?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-BooObl.eot?134228');
    src:
        url('../fonts/Futura-BooObl.woff2?134228') format('woff2'),
        url('../fonts/Futura-BooObl.woff?134228') format('woff'),
        url('../fonts/Futura-BooObl.ttf?134228') format('truetype'),
        url('../fonts/Futura-BooObl.eot?134228?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaDem';
    font-style: normal;
    font-weight: normal;
    font-display: 'swap';
    src:
        local('FuturaDem'),
        url('../fonts/SwarovskiFutura-Demi.woff2?134228') format('woff2'),
        url('../fonts/SwarovskiFutura-Demi.woff?134228') format('woff'),
        url('../fonts/SwarovskiFutura-Demi.ttf?134228') format('truetype'),
        url('../fonts/SwarovskiFutura-Demi.eot?134228?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'FuturaDem';
    font-style: oblique;
    font-weight: normal;
    src: url('../fonts/Futura-DemObl.eot?134228');
    src:
        url('../fonts/Futura-DemObl.eot?134228?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-DemObl.woff?134228') format('woff'),
        url('../fonts/Futura-DemObl.ttf?134228') format('truetype');
}

@font-face {
    font-family: 'FuturaLig';
    font-style: normal;
    font-weight: normal;
    font-display: 'swap';
    src:
        local('FuturaLig'),
        url('../fonts/SwarovskiFutura-Light.woff2?134228') format('woff2'),
        url('../fonts/SwarovskiFutura-Light.woff?134228') format('woff'),
        url('../fonts/SwarovskiFutura-Light.ttf?134228') format('truetype'),
        url('../fonts/SwarovskiFutura-Light.eot?134228?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'FuturaLig';
    font-style: oblique;
    font-weight: normal;
    font-display: 'swap';
    src:
        local('FuturaLig'),
        url('../fonts/SwarovskiFutura-LightObl.woff2?134228') format('woff2'),
        url('../fonts/SwarovskiFutura-LightObl.woff?134228') format('woff'),
        url('../fonts/SwarovskiFutura-LightObl.ttf?134228') format('truetype'),
        url('../fonts/SwarovskiFutura-LightObl.eot?134228?#iefix') format('embedded-opentype');
}
