
@font-face {
    font-family: 'scicons';
    src: url('../fonts/scicons.eot?89914243');
    src:
        url('../fonts/scicons.eot?89914243#iefix') format('embedded-opentype'),
        url('../fonts/scicons.woff2?89914243') format('woff2'),
        url('../fonts/scicons.woff?89914243') format('woff'),
        url('../fonts/scicons.ttf?89914243') format('truetype'),
        url('../fonts/scicons.svg?89914243#scicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sc-icon-"]::before,
[class*=" sc-icon-"]::before {
    font-family: 'scicons' !important;
    font-style: normal;
    font-size: $font-size-6;
    font-weight: $font-weight-normal;
    display: inline-block;
    text-decoration: inherit;
    transform: rotateZ(0);

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sc-icon-resize-horizontal::before { content: '\e800'; } /* '' */
.sc-icon-wishlist-heart-full::before { content: '\e801'; } /* '' */
.sc-icon-legal::before { content: '\e802'; } /* '' */
.sc-icon-phone::before { content: '\e803'; } /* '' */
.sc-icon-play::before { content: '\e804'; } /* '' */
.sc-icon-promo::before { content: '\e805'; } /* '' */
.sc-icon-return::before { content: '\e806'; } /* '' */
.sc-icon-send::before { content: '\e807'; } /* '' */
.sc-icon-search::before { content: '\e808'; } /* '' */
.sc-icon-settings::before { content: '\e809'; } /* '' */
.sc-icon-share::before { content: '\e80a'; } /* '' */
.sc-icon-shipping::before { content: '\e80b'; } /* '' */
.sc-icon-snapchat::before { content: '\e80c'; } /* '' */
.sc-icon-twitter::before { content: '\e80d'; } /* '' */
.sc-icon-check::before { content: '\e80e'; } /* '' */
.sc-icon-ok::before { content: '\e80f'; } /* '' */
.sc-icon-whatsapp-outlined::before { content: '\e810'; } /* '' */
.sc-icon-youtube::before { content: '\e811'; } /* '' */
.sc-icon-camera::before { content: '\e812'; } /* '' */
.sc-icon-cart::before { content: '\e813'; } /* '' */
.sc-icon-email::before { content: '\e814'; } /* '' */
.sc-icon-eye-password::before { content: '\e815'; } /* '' */
.sc-icon-facebook-messenger::before { content: '\e816'; } /* '' */
.sc-icon-facebook::before { content: '\e817'; } /* '' */
.sc-icon-faqs::before { content: '\e818'; } /* '' */
.sc-icon-gift::before { content: '\e819'; } /* '' */
.sc-icon-wishlist-heart::before { content: '\e81a'; } /* '' */
.sc-icon-my-account::before { content: '\e81b'; } /* '' */
.sc-icon-password::before { content: '\e81c'; } /* '' */
.sc-icon-menu::before { content: '\e81d'; } /* '' */
.sc-icon-samples::before { content: '\e81e'; } /* '' */
.sc-icon-preferences::before { content: '\e81f'; } /* '' */
.sc-icon-address-book::before { content: '\e820'; } /* '' */
.sc-icon-home::before { content: '\e821'; } /* '' */
.sc-icon-information::before { content: '\e822'; } /* '' */
.sc-icon-cod::before { content: '\e823'; } /* '' */
.sc-icon-collections::before { content: '\e824'; } /* '' */
.sc-icon-contact-us::before { content: '\e825'; } /* '' */
.sc-icon-copy-link::before { content: '\e826'; } /* '' */
.sc-icon-instagram::before { content: '\e827'; } /* '' */
.sc-icon-payment-methods::before { content: '\e828'; } /* '' */
.sc-icon-whatsapp::before { content: '\e829'; } /* '' */
.sc-icon-categories::before { content: '\e82a'; } /* '' */
.sc-icon-location::before { content: '\e82b'; } /* '' */
.sc-icon-verified::before { content: '\e82c'; } /* '' */
.sc-icon-customer-service::before { content: '\e82d'; } /* '' */
.sc-icon-arrow::before { content: '\e82e'; } /* '' */
.sc-icon-social-share::before { content: '\e82f'; } /* '' */
.sc-icon-th-large::before { content: '\e830'; } /* '' */
.sc-icon-th::before { content: '\e831'; } /* '' */
.sc-icon-tag::before { content: '\e832'; } /* '' */
.sc-icon-preferences-1::before { content: '\e833'; } /* '' */
.sc-icon-address-book-1::before { content: '\e834'; } /* '' */
.sc-icon-lock::before { content: '\e835'; } /* '' */
.sc-icon-payment-method::before { content: '\e836'; } /* '' */
.sc-icon-thumbs-up::before { content: '\e837'; } /* '' */
.sc-icon-phone-ring::before { content: '\e877'; } /* '' */
.sc-icon-user-filled::before { content: '\e878'; } /* '' */
.sc-icon-eye::before { content: '\e879'; } /* '' */
.sc-icon-trash::before { content: '\e87f'; } /* '' */
.sc-icon-credit-card-with-cvv-code::before { content: '\e880'; } /* '' */
.sc-icon-wallet::before { content: '\e881'; } /* '' */
.sc-icon-credit-card::before { content: '\e882'; } /* '' */
.sc-icon-store-phone::before { content: '\e884'; } /* '' */
.sc-icon-store-directions::before { content: '\e885'; } /* '' */
.sc-icon-store-working-hours::before { content: '\e886'; } /* '' */
.sc-icon-caret::before { content: '\e887'; } /* '' */
.sc-icon-gift-wrapping::before { content: '\e888'; } /* '' */
.sc-icon-free-samples::before { content: '\e889'; } /* '' */
.sc-icon-apple-pay::before { content: '\e88a'; } /* '' */
.sc-icon-10-on-favourite-product::before { content: '\ea01'; } /* '' */
.sc-icon-10-voucher::before { content: '\ea02'; } /* '' */
.sc-icon-amazon::before { content: '\ea03'; } /* '' */
.sc-icon-auto-replenishment-renew-product::before { content: '\ea04'; } /* '' */
.sc-icon-bag-full::before { content: '\ea05'; } /* '' */
.sc-icon-bag::before { content: '\ea06'; } /* '' */
.sc-icon-birthday-gift::before { content: '\ea07'; } /* '' */
.sc-icon-booster-points-::before { content: '\ea08'; } /* '' */
.sc-icon-buy::before { content: '\ea09'; } /* '' */
.sc-icon-calendar::before { content: '\ea0a'; } /* '' */
.sc-icon-change-favproduct::before { content: '\ea0b'; } /* '' */
.sc-icon-checkbox-v::before { content: '\ea0c'; } /* '' */
.sc-icon-christmas-personal-shopper::before { content: '\ea0d'; } /* '' */
.sc-icon-click-and-collect::before { content: '\ea0e'; } /* '' */
.sc-icon-clock::before { content: '\ea0f'; } /* '' */
.sc-icon-complete-birth-date::before { content: '\ea10'; } /* '' */
.sc-icon-complete-email::before { content: '\ea11'; } /* '' */
.sc-icon-contribute::before { content: '\ea12'; } /* '' */
.sc-icon-crm-and-e-crm-on-going-promotions::before { content: '\ea13'; } /* '' */
.sc-icon-crown::before { content: '\ea14'; } /* '' */
.sc-icon-direction-arrow::before { content: '\ea15'; } /* '' */
.sc-icon-download-loccitane-mobile-app::before { content: '\ea16'; } /* '' */
.sc-icon-facebook-1::before { content: '\ea17'; } /* '' */
.sc-icon-fav-full::before { content: '\ea18'; } /* '' */
.sc-icon-fav-on::before { content: '\ea19'; } /* '' */
.sc-icon-fav::before { content: '\ea1a'; } /* '' */
.sc-icon-female::before { content: '\ea1b'; } /* '' */
.sc-icon-foundation-donation::before { content: '\ea1c'; } /* '' */
.sc-icon-free-deluxe-sample::before { content: '\ea1d'; } /* '' */
.sc-icon-free-full-size-product::before { content: '\ea1e'; } /* '' */
.sc-icon-frequency-bonus-points::before { content: '\ea1f'; } /* '' */
.sc-icon-gift-1::before { content: '\ea20'; } /* '' */
.sc-icon-give-products-review::before { content: '\ea21'; } /* '' */
.sc-icon-gold-customer-service-phone-number::before { content: '\ea22'; } /* '' */
.sc-icon-google::before { content: '\ea23'; } /* '' */
.sc-icon-in-store-parties::before { content: '\ea24'; } /* '' */
.sc-icon-info::before { content: '\ea25'; } /* '' */
.sc-icon-instagram-1::before { content: '\ea26'; } /* '' */
.sc-icon-label::before { content: '\ea27'; } /* '' */
.sc-icon-linkedin::before { content: '\ea28'; } /* '' */
.sc-icon-locator::before { content: '\ea29'; } /* '' */
.sc-icon-locator_airport::before { content: '\ea2a'; } /* '' */
.sc-icon-locator_bike::before { content: '\ea2b'; } /* '' */
.sc-icon-locator_car::before { content: '\ea2c'; } /* '' */
.sc-icon-locator_flower::before { content: '\ea2d'; } /* '' */
.sc-icon-locator_store::before { content: '\ea2e'; } /* '' */
.sc-icon-locator_store2::before { content: '\ea2f'; } /* '' */
.sc-icon-locator_train::before { content: '\ea30'; } /* '' */
.sc-icon-locator_walk::before { content: '\ea31'; } /* '' */
.sc-icon-ma-addresses::before { content: '\ea32'; } /* '' */
.sc-icon-ma-alert::before { content: '\ea33'; } /* '' */
.sc-icon-ma-autorep::before { content: '\ea34'; } /* '' */
.sc-icon-ma-beauty-profile::before { content: '\ea35'; } /* '' */
.sc-icon-ma-click-collect::before { content: '\ea36'; } /* '' */
.sc-icon-ma-fav::before { content: '\ea37'; } /* '' */
.sc-icon-ma-mail::before { content: '\ea38'; } /* '' */
.sc-icon-ma-offers::before { content: '\ea39'; } /* '' */
.sc-icon-ma-order-history::before { content: '\ea3a'; } /* '' */
.sc-icon-ma-payment::before { content: '\ea3b'; } /* '' */
.sc-icon-ma-product::before { content: '\ea3c'; } /* '' */
.sc-icon-ma-pwd-fill::before { content: '\ea3d'; } /* '' */
.sc-icon-ma-pwd-light::before { content: '\ea3e'; } /* '' */
.sc-icon-ma-pwd::before { content: '\ea3f'; } /* '' */
.sc-icon-ma-referrals::before { content: '\ea40'; } /* '' */
.sc-icon-ma-reviews::before { content: '\ea41'; } /* '' */
.sc-icon-ma-shipping::before { content: '\ea42'; } /* '' */
.sc-icon-ma-signs::before { content: '\ea43'; } /* '' */
.sc-icon-ma-user::before { content: '\ea44'; } /* '' */
.sc-icon-mail::before { content: '\ea45'; } /* '' */
.sc-icon-male::before { content: '\ea46'; } /* '' */
.sc-icon-map-dual-arrow::before { content: '\ea47'; } /* '' */
.sc-icon-offers::before { content: '\ea48'; } /* '' */
.sc-icon-online::before { content: '\ea49'; } /* '' */
.sc-icon-parcel-checked::before { content: '\ea4a'; } /* '' */
.sc-icon-parcel-sent::before { content: '\ea4b'; } /* '' */
.sc-icon-parcel-wrapped::before { content: '\ea4c'; } /* '' */
.sc-icon-payment::before { content: '\ea4d'; } /* '' */
.sc-icon-paypal::before { content: '\ea4e'; } /* '' */
.sc-icon-pencil::before { content: '\ea4f'; } /* '' */
.sc-icon-phone-1::before { content: '\ea50'; } /* '' */
.sc-icon-pinterest::before { content: '\ea51'; } /* '' */
.sc-icon-present::before { content: '\ea52'; } /* '' */
.sc-icon-products-pre-ordering::before { content: '\ea53'; } /* '' */
.sc-icon-productsweepstake::before { content: '\ea54'; } /* '' */
.sc-icon-profil::before { content: '\ea55'; } /* '' */
.sc-icon-recycle-with-terracycle::before { content: '\ea56'; } /* '' */
.sc-icon-refer-a-friend::before { content: '\ea57'; } /* '' */
.sc-icon-refil::before { content: '\ea58'; } /* '' */
.sc-icon-reward-icon-arrow::before { content: '\ea59'; } /* '' */
.sc-icon-reward-icon-review::before { content: '\ea5a'; } /* '' */
.sc-icon-reward-logo::before { content: '\ea5b'; } /* '' */
.sc-icon-reward::before { content: '\ea5c'; } /* '' */
.sc-icon-schedule-check::before { content: '\ea5d'; } /* '' */
.sc-icon-schedule::before { content: '\ea5e'; } /* '' */
.sc-icon-search-1::before { content: '\ea5f'; } /* '' */
.sc-icon-share-1::before { content: '\ea60'; } /* '' */
.sc-icon-shipping-box::before { content: '\ea61'; } /* '' */
.sc-icon-shipping-1::before { content: '\ea62'; } /* '' */
.sc-icon-spa-trip-sweepstake::before { content: '\ea63'; } /* '' */
.sc-icon-Spa15Percent::before { content: '\ea64'; } /* '' */
.sc-icon-star-empty::before { content: '\ea65'; } /* '' */
.sc-icon-star-half::before { content: '\ea66'; } /* '' */
.sc-icon-star-loyalty::before { content: '\ea67'; } /* '' */
.sc-icon-star-xl::before { content: '\ea68'; } /* '' */
.sc-icon-star::before { content: '\ea69'; } /* '' */
.sc-icon-store::before { content: '\ea6a'; } /* '' */
.sc-icon-surprise-gift-delivered-at-home::before { content: '\ea6b'; } /* '' */
.sc-icon-tell-us-what-you-think::before { content: '\ea6c'; } /* '' */
.sc-icon-time::before { content: '\ea6d'; } /* '' */
.sc-icon-travel-size-refund-if-full-size-purchased::before { content: '\ea6e'; } /* '' */
.sc-icon-trip-in-provence-sweepstake::before { content: '\ea6f'; } /* '' */
.sc-icon-twitter-1::before { content: '\ea70'; } /* '' */
.sc-icon-unlimited-free-shipping::before { content: '\ea71'; } /* '' */
.sc-icon-use-facebook-connect-to-sign-in::before { content: '\ea72'; } /* '' */
.sc-icon-validate::before { content: '\ea73'; } /* '' */
.sc-icon-vip-in-store-beauty-parties::before { content: '\ea74'; } /* '' */
.sc-icon-vkontakte::before { content: '\ea75'; } /* '' */
.sc-icon-youtube-1::before { content: '\ea76'; } /* '' */
.sc-icon-zoom::before { content: '\ea77'; } /* '' */

// Custom icon class: Do not remove while updating
.sc-icon-credit_card::before { content: '\e882'; }
.sc-icon-cod::before { content: '\e881'; }
.sc-icon-dw_apple_pay::before { content: '\e88a'; }

.sc-icon-star-fill-half {
    position: relative;

    &::before {
        content: '\ea65';
    }

    &::after {
        content: '\ea66';
        font-family: 'scicons' !important;
        font-style: normal;
        font-size: $font-size-6;
        font-weight: $font-weight-normal;
        display: inline-block;
        text-decoration: inherit;
        transform: rotateZ(0);
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        z-index: 1;
    }
}

.sc-icon-cross,
.sc-icon-plus {
    display: inline-block;
    transform: rotate(90deg);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 0.3125rem;
        top: 50%;
        left: 50%;
        margin: -0.0625rem 0 0 -0.78125rem;
        width: 1.5625rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    &::before {
        transform: rotate(-45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-plus {
    transform: rotate(45deg);
}

.sc-icon-minus::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -0.0625rem;
    width: 0.875rem;
    height: 0.125rem;
    background-color: $secondary;
}

.sc-icon-home {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    width: 0.625rem;
    height: 0.5625rem;
    border: 0.125rem solid $secondary;
    border-top: none;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -0.375rem;
        left: 50%;
        width: 0.625rem;
        height: 0.125rem;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        background: $secondary;
    }

    &::before {
        transform: rotate(45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }
}

.sc-icon-arrow-next,
.sc-icon-arrow-prev {
    display: inline-block;
    width: 1.3125rem;
    height: 0.875rem;
    position: relative;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 1.875rem;
        height: 0.0625rem;
        background-color: $secondary;
        transform-origin: 0 0;
    }

    &::before {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-arrow-prev {
    transform: rotate(-90deg);
}

.sc-icon-arrow-next {
    transform: rotate(90deg);
}

.list-style-check {
    list-style: none;
    padding-left: 0 !important;

    > li::before {
        content: '\EA0C';
        font-family: 'scicons' !important;
        font-style: normal;
        font-size: 0.7rem !important;
        color: #485460 !important;
        padding-right: 0.7rem;
        font-weight: 400;
        display: inline-block;
        text-decoration: inherit;
        transform: rotateZ(0);
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
    }
}

/* rtl:raw:
    .sc-icon-search::before,
    .sc-icon-shipping::before,
    .sc-icon-phone-ring::before,
    .sc-icon-star-fill-half::after {
        transform: scale(-1, 1) rotateZ(0);
    }
*/

.icon-svg-wishlist-heart {
    background-image: url('../images/wishlist-heart.svg');
}

.icon-svg-wishlist-heart-fill {
    background-image: url('../images/wishlist-heart-fill.svg');
}

.icon-svg-remove-trash {
    background-image: url('../images/remove-trash.svg');

    &:hover {
        background-image: url('../images/remove-trash-black.svg');
    }
}

.icon-svg-exclamation {
    background-image: url('../images/exclamation.svg');
}

.icon-svg-arrow-right-dimgray {
    background-image: url('../images/arrow-right-dimgray.svg');
}

.icon-svg-plus-tide {
    background-image: url('../images/plus_tide.svg');
}

.icon-svg-minus-tide {
    background-image: url('../images/minus_tide.svg');
}

.icon-svg-video-play-button {
    background-image: url('../images/video-play-button.svg');
}

.icon-svg-social-share {
    background-image: url('../images/social-share.svg');
}

.icon-svg-pdp-wishlist {
    background-image: url('../images/wishlist-icon.svg');
}

.icon-svg-pdp-wishlist-full {
    background-image: url('../images/wishlist-icon-full.svg');
}

.icon-svg-size-guide-grey {
    background-image: url('../images/icon-size-guide-grey.svg');
}

.icon-svg-size-guide-black {
    background-image: url('../images/icon-size-guide-black.svg');
}

.icon-svg-facebook-black {
    background-image: url('../images/facebook_black.svg');
}

.icon-svg-pinterest-black {
    background-image: url('../images/pinterest_black.svg');
}

.icon-svg-twitter-black {
    background-image: url('../images/twitter_black.svg');
}

.icon-svg-instagram-black {
    background-image: url('../images/instagram_black.svg');
}

.icon-svg-youtube-black {
    background-image: url('../images/youtube_black.svg');
}
