.tabs-alpha {
    .nav-tabs {
        border-top: 0.0625rem solid $border-color;

        @include media-breakpoint-up(xl) {
            max-width: map-get($grid-breakpoints, "xl");
            margin: 0 auto;
        }
    }

    .nav-tabs .nav-item {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;

        &:not(:last-child) {
            border-right: 0.0625rem solid $border-color;
        }
    }

    .nav-tabs .nav-link {
        font-size: $font-size-3;
        font-weight: $font-weight-medium;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &.active {
            border-bottom: 0;
            background-color: $gallery-gray;
        }
    }

    .tab-pane {
        font-weight: $font-weight-light;
        padding-top: 2rem;
    }

    .acc-container-lg-down {
        @include media-breakpoint-down(lg) {
            display: block;
            padding-top: 0;
            opacity: 1;
        }
    }
}
