@mixin accordion() {
    border-bottom: 0.0625rem solid $grey3;

    &:first-child {
        border-top: 0.0625rem solid $grey3;
    }

    &.open {
        .acc-title {
            > .sc-icon-plus {
                display: none;
            }

            > .sc-icon-minus {
                display: block;
            }
        }

        .acc-content {
            opacity: 1;
            height: auto;
            padding-bottom: 1rem;
        }
    }

    .acc-content {
        opacity: 0;
        height: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: height $animation-duration, opacity $animation-duration;
    }

    .acc-title {
        cursor: pointer;
        font-family: $font-family-base;
        color: $secondary;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        padding: 1.25rem 0.75rem 0.75rem 0;
        display: flex;
        align-items: center;
        position: relative;

        > i {
            margin-left: auto;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 0.875rem;
                height: 0.125rem;
                background-color: $dove-gray;
            }
        }

        > .sc-icon-minus {
            display: none;
        }
    }
}
