@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";

.all-brands-title {
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-down(sm) {
        font-size: fz(h2);
    }
}

.all-brands-letter {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: fz(h3);
            font-weight: $font-weight-medium;
            margin: 0 0.9375rem;
            display: inline-block;
            text-transform: uppercase;
            cursor: pointer;

            @include media-breakpoint-down(lg) {
                margin: 0.5rem 0.9375rem;
            }
        }
    }
}

.all-brands-selected-letter {
    border-top: 0.0625rem solid $grey2;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        height: 100%;
    }

    .selected-letter {
        font-size: fz(h2);
        font-weight: $font-weight-medium;
        margin-left: 0.625rem;
        margin-right: 3.4375rem;
        width: 1.875rem;

        @include media-breakpoint-up(sm) {
            height: 100%;
            float: left;
        }

        @include media-breakpoint-down(md) {
            margin-top: 1.25rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-weight: $font-weight-medium;
            margin: 1.25rem 0;
        }
    }
}
