@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'mixins/swatch';
@import 'components/quantitySelector';
@import 'components/checkoutPaymentMethods';

.empty-bag-message {
    text-align: center;
    font-size: $font-size-1;
    font-style: italic;
    font-weight: $font-weight-medium;

    i {
        padding-right: 0.3125rem;
    }
}

.cart-header-row {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 0.75rem;
    border-bottom: solid 1px #e4e4e4;
}

.row.cart-product {
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.cart-product {
    margin-bottom: 1.875rem;
    @include media-breakpoint-down(lg) {
        margin-bottom: 0;
    }
}

.cart-product-image {
    padding-right: 0.625rem;

    img {
        width: 6.25rem;
        height: 6.25rem;
    }
}

.cart-product-dismiss {
    z-index: 1;

    @include media-breakpoint-down(lg) {
        position: absolute;
        top: 0;
        right: 0.8rem;
    }

    button {
        background-color: transparent !important;
        border: none !important;

        i {
            &::before,
            &::after {
                background-color: $grey3;
                width: 1.1625rem;
            }
        }
    }
}

.card-product-remove-desktop {
    .cart-product-dismiss {
        button i::before {
            background-color: transparent;
        }

        span {
            font-size: $font-size--4;
            font-weight: $font-weight-medium;
        }
    }
}

.cart-product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.875rem;
    padding-left: 0.5rem;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
}

.cart-product-details {
    margin-top: 1rem;

    @include media-breakpoint-up(xl) {
        margin-top: 0;
    }
}

.cart-product-name {
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    line-height: 1.3;
    padding-right: 1.5rem;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        padding-right: 0;
    }
}

.cart-product-attribute {
    border-bottom: 0.0625rem solid $grey3;
    min-width: 4rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
        border: none;
        line-height: 1.5;
        margin-bottom: 0;
    }

    > p {
        line-height: 2.8;
    }
}

.cart-product-attribute-title {
    font-size: $font-size--3;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.cart-product-actions {
    display: none;

    @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
    }
}

.cart-product-price,
.cart-bonus-product-no-price {
    @include media-breakpoint-down(lg) {
        text-align: right;
    }
}

.line-item-quantity {
    max-width: 13.4375rem;
}

.cart-menu-vertical {
    margin-bottom: 1.5rem;

    > div:first-child .cart-section-wrapper {
        border-top: 0.0625rem solid $grey3;
    }

    .cart-section-wrapper {
        border-bottom: 0.0625rem solid $grey3;
        cursor: pointer;
    }

    h3 {
        font-size: $font-size-base;
        font-family: $font-family-base;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        position: relative;
        padding: #{$grid-gutter-width / 2} 0.4375rem #{$grid-gutter-width / 2} 0;
        margin-bottom: 0;
        user-select: none;

        .tab-icon {
            width: 2.325rem;

            &::before {
                font-size: $font-size-16;
            }
        }

        > i:not(.tab-icon) {
            margin-left: auto;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 0.875rem;
                height: 0.125rem;
            }

            &.sc-icon-plus {
                /* rtl:raw:
                    padding-left: 0.8125rem;
                */
            }

            &.sc-icon-minus {
                /* rtl:raw:
                    padding-left: 0.4125rem;
                */
            }
        }

        > .sc-icon-minus {
            display: none;
        }
    }

    ul {
        overflow: hidden;
        height: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;
        margin: 0;
        padding: 0;
        line-height: 2.2;

        li {
            padding: 0;
            list-style: none;
        }
    }

    .open {
        h3 {
            > .sc-icon-plus {
                display: none;
            }

            > .sc-icon-minus {
                display: block;
            }
        }

        ul {
            height: auto;
        }
    }
}

.cart-gift-wrapping {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    p {
        margin: 0;
    }

    .gift-wrapping-details {
        display: flex;
    }

    .gift-wrapping-text {
        @include media-breakpoint-up(lg) {
            margin-left: 7.5rem;
        }

        .form-control-label {
            display: none;
        }
    }

    .gift-wrapping-check {
        label {
            padding: 0 0 0 1.4375rem;
            line-height: 1.5;
        }

        p {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.4;
        }
    }

    .gift-wrapping-description {
        p {
            font-weight: $font-weight-medium;

            &:last-child {
                font-size: $font-size--2;
                font-style: italic;
                font-weight: $font-weight-light;
                margin-top: -0.625rem;
            }
        }
    }

    .gift-wrapping-text {
        textarea {
            border: 0.0625rem solid $grey3;
            resize: none;
            width: 100%;
            padding: 0.625rem;
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.6;
        }
    }
}

.container-title.cart-title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: $font-family-base;

    .cart-item-count {
        color: #999;
    }
}

.next-step-box {
    padding: 1rem 0;

    @include media-breakpoint-up(md) {
        padding-top: 1.875rem;
    }

    @include media-breakpoint-up(xl) {
        margin-left: 1.75rem;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
        -webkit-box-shadow: 0 10px 30px #edecec;
        box-shadow: 0 10px 30px #edecec;
        padding: 28px 18px;
    }
}

.next-step-box-totals {
    display: flex;
    flex-direction: column;

    .totals-line:not(.hide-order-discount) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-total-label {
        span {
            display: block;

            &:first-child {
                font-size: $font-size-1;
            }

            &:last-child {
                font-size: $font-size--2;
                font-weight: $font-weight-light;
            }
        }
    }

    .totals-line-value {
        font-size: $font-size-5;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-secondary;

        span {
            text-align: center;

            &:not(.hide-order-discount) {
                display: block;
            }

            &.line-through {
                font-size: $font-size-base;
                text-decoration: line-through;
                color: $dove-gray;
            }
        }
    }
}

.checkout-continue {
    .btn {
        font-size: $font-size-base;
    }
}

.cart-free-shipping-wrapper {
    margin-bottom: 3rem;

    h3 {
        padding: 2rem 0;
        font-size: $font-size-3;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 2rem;
        background-color: $white;
        margin: 0.5rem -1.5rem;

        > div {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.product-tile {
    .name-container {
        height: 4rem;
    }
}

.promo-wrapper {
    padding-bottom: 0.3125rem;

    p {
        margin: 0;
    }

    .promo-wrapper-label {
        font-size: $font-size-base;
        padding-bottom: 0.3125rem;
    }

    .btn-apply-promo-code {
        @include media-breakpoint-down(xl) {
            min-width: 5.45rem;
        }
    }
}

.promo-applied-label {
    color: $japaneseLaurel;
    font-weight: $font-weight-medium;
}

.coupon-error {
    padding-top: 0.3125rem;
}

.coupon-error-message,
.coupon-missing-error {
    color: $tabasco;
    font-weight: $font-weight-medium;
}

.coupon-missing-error {
    display: none;
}

.coupon-code-field.is-invalid {
    border-color: $grey3;

    &:focus {
        box-shadow: none;
        border-color: $grey3;
    }
}

.cart-bonus-product-no-price {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        padding-top: 1rem;
    }
}

.cart-product-price-discounted {
    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-secondary;

    @include media-breakpoint-up(xl) {
        padding-top: 0.5rem;
    }
}

.cart-product-price-main {
    font-size: $font-size--2;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-secondary;
}

.free-samples-carousel {
    padding-bottom: 1.25rem;

    .product-tile {
        text-transform: none;
        padding-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .image-container {
        @include media-breakpoint-up(xl) {
            min-height: 6.0625rem;
        }
    }

    .product-image {
        margin: 0 auto;
        max-height: 6.0625rem;
    }

    .tile-body {
        padding-bottom: 0.5rem;

        .name-container {
            line-height: 1.4;
            height: 3.125rem;

            @include media-breakpoint-up(sm) {
                padding: 0 0.625rem;
            }
        }

        .description-container {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.5;

            @include media-breakpoint-up(sm) {
                height: 3.4rem;
            }
        }
    }

    .button-container {
        i {
            display: none;
        }

        .selected {
            i {
                display: inline-block;
                margin-right: 0.125rem;
                position: relative;
                top: -0.125rem;

                &::before {
                    font-size: 0.625rem;
                }
            }
        }

        .free-sample-select {
            &:hover {
                background-color: $midnight;
                border-color: $midnight;
            }

            &.selected {
                background-color: $midnight;
                border-color: $midnight;
            }
        }
    }

    .product {
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 0 0 1.875rem !important;

            .product-tile {
                text-align: left;
                position: relative;
            }

            .product-content {
                flex-grow: 1;
                padding: 0 0.2rem;
            }

            .image-container {
                min-height: 0;
                overflow: initial;
            }

            .tile-body {
                padding-bottom: 0;

                .name-container {
                    height: auto;
                }
            }

            .button-container {
                .btn {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}

// Quantity Selector Styles - start

.attributes-container {
    display: flex;
    margin-top: auto;

    > div {
        flex: 1;
        padding: 0 0.5rem;
        position: relative;
        max-width: 50%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .swatches {
        align-self: flex-start;
    }

    .swatches {
        background: $white;
        border-bottom: 0.0625rem solid $grey3;
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        .swatch-circle {
            width: 1rem;
            height: 1rem;
        }
    }
}

.product-info {
    background-color: $white;
    position: relative;

    .btn-select {
        font-size: $font-size--2;
        font-weight: $font-weight-semi-bold;

        .swatch-circle {
            @include swatch($white);

            margin-right: 0.625rem;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-semi-bold;
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;
        }
    }

    .attribute-color .btn-select {
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 0.425rem;
        height: 0;
        opacity: 0;
        transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

        > a {
            display: inline-block;
        }

        .swatch-circle {
            @include swatch($white, 2rem);

            margin: 0.45rem;
        }

        [disabled],
        .swatch-circle.unselectable {
            cursor: default;
            pointer-events: none;
            opacity: 0.2;
        }
    }

    .open {
        .swatches {
            height: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            opacity: 1;
        }
    }
}

.product-carousel-ternary {
    &.product-carousel-items .slick-slide .product {
        margin-right: 6.5% !important;
        margin-left: 6.5% !important;
    }

    .slick-arrow {
        @include media-breakpoint-down(sm) {
            &.slick-prev {
                i {
                    margin-right: 1rem;
                }
            }

            &.slick-next {
                i {
                    margin-left: 1rem;
                }
            }
        }

        i {
            width: auto;
            height: auto;
        }

        i::before,
        i::after {
            background-color: $dove-gray;

            @include media-breakpoint-up(md) {
                width: 1.075rem !important;
            }
        }

        &:focus {
            outline: none !important;
        }
    }

    @include media-breakpoint-up(xl) {
        .slick-next {
            right: -1.5rem !important;
        }

        .slick-prev {
            left: -1.5rem !important;
        }
    }
}

.quantity-form {
    .custom-select {
        width: min-content;
        padding-left: 0;
        border-bottom: 0;

        @include media-breakpoint-down(lg) {
            width: auto;
            padding-top: 0.335rem;
        }
    }

    .quantity-selector {
        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }
    }
}

// Show Coupons

.coupons-and-promos {
    margin-top: 0.625rem;
    display: flex;
}

.coupon-price-adjustment {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    background-color: $gallery;
    text-align: left;
    padding: 0.275rem 2.775rem 0.275rem 0.75rem;
    margin-right: 0.3125rem;
}

.remove-coupon {
    position: absolute;
    background: transparent;
    border: none;
    right: 0.3125rem;
    top: 0.2125rem;

    i {
        &::before,
        &::after {
            background-color: $tamarillo;
            width: 0.8625rem;
        }
    }
}

.mobile-next-step {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: $white;
    padding: 1rem;
}

.cart-summary {
    font-family: $font-family-base;
    float: left;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #222;
    border-bottom: solid 2px #252525;
    padding: 11px 0;
}
