.product-tile,
.product-image-carousel {
    .product-custom-badge {
        position: absolute;
        z-index: 2;
    }
}

.product-image-carousel .product-custom-badge {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.product-custom-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    font-size: $font-size--2;
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
    line-height: 1.4;
    word-break: break-word;
    padding: 0.3125rem;

    img {
        max-width: 3.75rem;
        max-height: 3.75rem;
    }

    @include media-breakpoint-down(xs) {
        width: 2.5rem;
        height: 2.5rem;
        font-size: $font-size--5;
        line-height: 1.2;

        img {
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
    }
}
