.expansion-panel {
    $transition-duration: 0.3s;

    + .expansion-panel {
        margin-top: -1rem;
    }

    .expansion-panel-summary {
        cursor: pointer;
        position: relative;
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
        padding-right: 1.5rem;
        font-weight: $font-weight-semi-bold;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);

        &::after {
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 0;
            top: 1.2rem;
            transition: transform;
            transition-duration: $transition-duration;
        }
    }

    &.open {
        .expansion-panel-summary::after {
            transform: rotate(180deg);
        }

        .expansion-panel-details {
            max-height: 500px;
            transition: max-height $transition-duration ease-in;
        }
    }

    .expansion-panel-details {
        max-height: 0;
        transition: max-height $transition-duration ease-out;
        overflow: hidden;
    }
}

