.main-menu {
    text-transform: uppercase;

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        justify-content: center;
    }

    .nav-link {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: 1.35;
    }

    .menu-group {
        flex: 0 0 100%;

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-size: $font-size--3 !important;
            font-weight: $font-weight-bold !important;
            text-transform: none;
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;

            .sc-icon-home {
                margin: 0.175rem 0.7rem 0 0;

                @include ipad() {
                    margin: 0.375rem 0.7rem 0 0;
                }
            }
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                        color: rgba(0, 0, 0, 0.5);
                        letter-spacing: unset;
                    }
                }
            }
        }
    }

    .show {
        > .expanded {
            .sc-icon-caret::before {
                transform: rotate(-90deg) !important;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-menu {
        background-color: $white;
        display: none;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 4;

        .menu-group {
            margin-top: 0.175rem;

            .nav-link {
                padding: 13px 26px;
                font-weight: 900;
                justify-content: space-between;

                &::after {
                    display: none;
                }

                .sc-icon-caret {
                    &::before {
                        transform: rotate(90deg);
                        font-size: 1rem;
                        font-weight: 900;
                    }
                }
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;
            background-color: transparent;

            ul {
                max-width: 100% !important;
            }
        }

        .dropdown-item {
            padding: 0;
            background-color: transparent;
        }

        .primary {
            .dropdown {
                background-color: rgba(0, 0, 0, 0.02);
            }

            a:not(.ar) {
                letter-spacing: 4px;
            }
        }

        .show {
            &.primary > .expanded {
                background-color: rgba(0, 0, 0, 0.1);
            }

            > .dropdown-menu {
                display: block;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        display: block !important;
        top: 0 !important;
        padding-top: 0.4rem;
        padding-bottom: 0;
        transition: padding-top $animation-duration;

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: padding-top $animation-duration, padding-bottom $animation-duration;

                /* rtl:remove */
                font-size: $font-size-base;

                /* rtl:raw:
                    font-size: #{$font-size-base};
                */

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .dropdown-item {
                white-space: normal;
            }
        }

        .nav-item > .nav-link {
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            display: block;
            font-weight: $font-weight-semi-bold;

            &::after {
                content: ' ';
                height: 3px;
                background: #b4975b;
                transition: width 0.3s;
                width: 0;
                display: block;
                position: relative;
                border: 0;
                margin: 0;
            }
        }

        .nav-item > .nav-link.current,
        .nav-item > .nav-link.active,
        .nav-item > .nav-link:focus,
        .nav-item:not(.dropdown) > .nav-link:hover {
            color: #b4975b;

            &::after {
                width: 100%;
                display: block;
            }
        }

        .nav-item > .dropdown-menu {
            .dropdown-menu > ul {
                width: auto;
            }
        }

        .nav-cat-level-0 {
            border: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0 solid $grey3;
            border-radius: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 1.62rem #{"/*rtl:1.8rem*/"};
            overflow-y: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;

            > ul.container {
                background-color: $white;
                display: flex;
                flex-wrap: wrap;
            }

            > ul > .dropdown-item {
                padding: 0.25rem 0.25rem 0.75rem;
                width: auto;

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    font-size: $font-size-base;
                    font-weight: bold;
                    margin-bottom: 0.75rem;
                    padding: 0.25rem 1.5rem;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                top: 0;
                display: block;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            padding: 0;

            > ul.container {
                display: grid;
                grid-auto-flow: column;
                grid-column-gap: 20px;
                grid-template-rows: repeat(8, auto);
            }

            > ul > .dropdown-item {
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
                width: auto;
            }

            .nav-link-only-name,
            .nav-link-with-count {
                font-size: $font-size--1;
                font-weight: $font-weight-semi-bold;
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-link-with-thumbnail.nav-link-with-count {
                text-transform: uppercase !important;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                > img {
                    margin-right: 0.75rem;
                    max-width: 5.25rem;
                }
            }
        }

        .product-tile {
            .tile-body {
                padding-bottom: 0;
                white-space: normal;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                margin-bottom: 1.1rem;
            }

            .image-container {
                .tile-image {
                    max-height: 206px;
                    width: auto;
                }
            }
        }
    }

    .sticked {
        .main-menu {
            .nav-item {
                height: 1.35rem;

                > .dropdown-menu {
                    top: 20px;
                    border-top-width: 0.25rem;
                }
            }
        }

        .navbar .navbar-nav .nav-link {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.navbar-quick-menu {
    border-top: 0.0625rem solid $grey3;
    background-color: $gallery-gray;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;

        &:not(:last-child) {
            border-right: 0.0625rem solid $grey3;
        }
    }

    .nav-link {
        padding: 0 0.75rem;

        > i {
            display: block;
            margin-bottom: 0.875rem;

            &::before {
                font-size: $font-size-18;
            }
        }
    }
}
