.btn {
    text-transform: uppercase;
    font-weight: $font-weight-medium;
}

.btn-link {
    color: $secondary;
}

.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-light,
.btn-dark,
.btn-danger,
.btn-warning,
.btn-success,
.btn-info,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-tertiary,
.btn-outline-light,
.btn-outline-dark,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-success,
.btn-outline-info {
    padding: 0.7rem 1.5rem;

    @include media-breakpoint-down(md) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.btn-secondary {
    color: $white !important;
}

.btn-tertiary {
    border: 0.0625rem solid $primary;
}

.btn-link-black {
    color: $black !important;
    @extend .link;
}

.btn-link-white {
    color: $white !important;
    @extend .link;
}

.btn-link-white,
.btn-link-black {
    text-decoration: underline;
}

.btn-select-attribute {
    font-size: $font-size-1;
    border: 0.0625rem solid $border-color;
    margin: 0 0.625rem 0 0;
    display: inline-block;
    padding: 1rem;
    text-align: left;

    &.selected {
        border: 0.125rem solid $primary;
    }
}

.btn-customize {
    align-items: center;
    background-color: $light;
    display: flex;
    margin-bottom: 0.625rem;
    padding: 0;
    text-transform: uppercase;
    width: 100%;

    &.open {
        i:last-child {
            transform: rotate(-180deg);
        }
    }

    i:first-child {
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.9375rem;
        padding: 0.65rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    i:last-child {
        margin-left: auto;
        margin-right: 0.75rem;
        transition: transform 0.3s;

        &::before {
            font-size: $font-size-base;
        }
    }
}

.btn-info-tooltip {
    padding: 0;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    text-align: center;
    text-transform: none;

    &::before {
        color: $primary;
        content: 'i';
        display: block;
        border: 0.0625rem solid $secondary;
        border-radius: 50%;
        font-size: $font-size--1;
        height: 1.0625rem;
        width: 1.0625rem;
    }
}

.inline-link {
    font-weight: $font-weight-medium;
    color: $primary !important;
    padding: 0 !important;
    font-size: $font-size-base !important;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}
