*:focus {
    outline: 0.0625rem dotted $secondary !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link,
.preheader,
.subtitle {
    text-transform: uppercase;
}

body {
    text-align: left;
}

img {
    width: 100%;
}

.img-mobile-width {
    @include media-breakpoint-down(sm) {
        width: 7.3125rem;
    }
}

.link,
.btn-link-white,
.btn-link-black {
    font-size: $font-size-1;
    font-weight: $font-weight-demi-bold;
}

.preheader {
    font-size: $font-size--1;
    letter-spacing: 0.25rem rtl(initial);
    margin-bottom: 0.9375rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }
}

.subtitle {
    font-size: $font-size-4;
}

.container-title {
    margin-bottom: 1.875rem;
    text-align: center;
    font-weight: $font-weight-demi-bold;
}

.media-icon {
    border-radius: 100%;
    border: 0.0625rem solid transparent;
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;

    &::before {
        font-size: $font-size-4;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-20;
        }
    }
}

.address1 {
    margin-bottom: 0.25rem;
}

.separated-values {
    > span {
        display: block;
        margin-bottom: 0.25rem;
    }
}

.rtl-flip {
    @include rtl-flip;
}
