footer {
    @include media-breakpoint-down(lg) {
        padding: 0;
    }

    ::-webkit-input-placeholder {
        font-style: normal !important;
    }
}

.double-action-row {
    @include media-breakpoint-down(md) {
        padding: 0 1.5rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 1.875rem;
    }

    .double-left-col {
        padding-left: 0;
        padding-right: 4rem;

        &::after {
            border-right: 0.0625rem solid $grey4;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .double-right-col {
        @include media-breakpoint-up(lg) {
            padding-left: 2rem;
            padding-right: 4rem;
        }
    }

    .icon-header {
        display: flex;
        flex-direction: row;
        max-height: 2rem;

        .icon-area {
            align-items: center;
            border-radius: 50%;
            border: 0.0625rem solid $grey4;
            color: $grey4;
            display: flex;
            height: 2.1875rem;
            justify-content: center;
            margin-right: 0.5rem;
            order: 0;
            width: 2.1875rem;

            i::before {
                font-size: $font-size-base;
            }
        }

        .action-header {
            font-size: $font-size-8;
            font-weight: $font-weight-demi-bold;
            line-height: 2.5rem;
            text-align: left;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                text-align: center;
                font-size: $font-size-4;
                font-weight: $font-weight-normal;
            }
        }
    }

    .form-group {
        border-bottom: 0.0625rem solid $grey4;
        margin: 1.3rem 1rem 1.3rem 2.8rem;

        @include media-breakpoint-down(md) {
            margin: 0.4rem 0;
        }

        .double-action-input {
            border: none !important;
            display: inline-block;
            font-size: $font-size-2;
            font-style: normal;
            padding-left: 0.05rem;
            padding-right: 2rem;
            padding-bottom: 0.3rem;
            width: calc(100% - 2rem);
        }

        .input-icon {
            float: right;
            width: 1rem;
        }

        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: none;
            background-color: transparent;
            border: none !important;
            float: right;
            padding: 0;
            padding-top: 0.2rem !important;
        }

        i::before {
            font-size: $font-size-4 !important;
            line-height: 1.6rem !important;
        }

        .invalid-feedback {
            text-align: left;
            position: absolute;
        }
    }
}

.labelled-checkbox-group {
    margin: 1.8rem 0.3rem 1.3rem 2.8rem;

    @include media-breakpoint-down(md) {
        margin: 1.3rem 0;
    }

    label {
        font-size: $font-size-2;
        padding-bottom: 0.125rem;
        padding-top: 0;
    }
}

.footer-menu {
    text-align: left;

    p {
        display: flex;
        font-size: $font-size-1;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-down(md) {
            cursor: pointer;
            margin-bottom: 0;
            margin-top: 1rem;
            padding-bottom: 0.8rem;
        }

        i {
            margin-left: auto;

            @include media-breakpoint-up(lg) {
                display: none !important;
            }

            &::before {
                font-size: $font-size-4;
            }
        }

        .icon-minus {
            display: none;
        }

        .icon-plus {
            display: block;
        }
    }

    .row > div:not(:last-child) p {
        @include media-breakpoint-down(md) {
            border-bottom: 0.0625rem solid $alto;
        }
    }

    ul {
        font-size: $font-size-1;
        height: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
            height: auto !important;
            border-bottom: 0 !important;
        }

        li {
            padding-bottom: 1rem;
            color: $secondary;

            a {
                color: $secondary;
            }
        }
    }

    .open {
        &:not(:last-child) ul {
            border-bottom: 0.0625rem solid $alto;
        }

        p {
            border-bottom: 0 !important;

            .icon-minus {
                display: block;
            }

            .icon-plus {
                display: none;
            }
        }

        ul {
            height: auto;
        }
    }
}

.footer-social-media {
    background-color: $grey1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
        background: none;
        margin-bottom: 1rem;
    }

    a {
        color: $grey3;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.75rem;
        text-decoration: none;

        @include media-breakpoint-up(lg) {
            border-radius: 100%;
            border: 0.0625rem solid $grey3;
            height: 3rem;
            margin: 0 0.25rem;
            width: 3rem;
        }

        &::before {
            font-size: $font-size-12;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-8;
            }
        }

        i {
            &::before {
                font-size: $font-size-12;
            }
        }
    }
}

.accept-terms::before {
    border-color: $grey4 !important;
}

.live-chat-container {
    img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2.3rem;
        height: 2.3rem;
    }
}
