.slick-next,
.slick-prev {
    top: 0;
    bottom: 0;
    height: auto;
    width: 4rem;
    z-index: 1;
    transform: none;

    &::before {
        display: none;
    }

    i {
        color: $primary;

        &::before {
            background: rgba($white, 0.2);
            border-radius: 100%;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }
    }
}

[dir='rtl'] .slick-prev,
.slick-prev {
    /* rtl:ignore */
    left: 0;

    /* rtl:ignore */
    right: auto;

    i::before {
        padding-right: 0.4375rem;
        padding-left: 0.375rem;
    }
}

[dir='rtl'] .slick-next,
.slick-next {
    /* rtl:ignore */
    right: 0;

    /* rtl:ignore */
    left: auto;

    i::before {
        padding-left: 0.4375rem;
        padding-right: 0.375rem;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list,
.slick-slider .slick-dots {
    /* rtl:ignore */
    direction: ltr;
}

.slick-slide {
    height: auto;

    /* rtl:raw:
        direction: rtl;
    */

    > div {
        display: flex;
        height: 100%;
    }
}

.slick-dotted {
    .slick-next,
    .slick-prev {
        bottom: 2.75rem;
    }
}

.slick-dots {
    background: $white;
    clear: both;
    display: block;
    position: static;
    margin: 0 auto;
    padding: 0.4rem 0;
    z-index: 1;

    > li {
        display: inline-block;
        position: relative;
        line-height: 7.1;
        height: 0.625rem;
        width: 0.625rem;
        margin: 0 0.25rem;

        &.slick-active {
            > button {
                background-color: $primary;
            }
        }

        > button {
            background: $grey4;
            width: 100%;
            height: 100%;
            border-radius: 100%;

            &::before {
                display: none;
            }
        }
    }
}

.slick-loading .slick-list {
    background: none;
}

.slick-vertical {
    .slick-prev,
    .slick-next {
        background: $white;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: auto;
    }
}
