@import '../mixins/icon';

.module-alpha,
.module-beta,
.module-gamma {
    padding-top: 1.5625rem;

    @include media-breakpoint-up(md) {
        padding-top: 1.75rem;
        padding-bottom: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 3.625rem;
        padding-bottom: 2.125rem;
    }

    picture {
        position: relative;
        display: block;
    }

    .media {
        height: 100%;
        position: relative;
    }

    .media-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .preheader {
            margin-bottom: 0.75rem;
            text-align: left;
        }

        .media {
            flex-direction: row !important;
        }
    }

    .slick-dots {
        background-color: transparent;
    }

    .slick-next,
    .slick-prev {
        width: 5rem;
    }
}

.module-beta,
.module-gamma {
    padding-bottom: 0.625rem;

    .container > .row {
        > .col,
        > [class*="col-"] {
            margin-bottom: 1.25rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 2.5rem;
            }
        }
    }
}

.module-alpha {
    padding-bottom: 1rem;

    .container > .row {
        > .col,
        > [class*="col-"] {
            margin-bottom: 0.875rem;

            @include media-breakpoint-up(md) {
                display: flex;
                margin-bottom: 2.5rem;
            }
        }
    }

    h4 {
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            font-size: $font-size-4;
            line-height: 1.35;
        }
    }

    .media {
        @include media-breakpoint-down(sm) {
            align-items: center;
        }

        @include media-breakpoint-up(md) {
            flex-direction: column;
        }

        > img,
        > picture,
        > picture > img {
            width: 7.3125rem;

            @include media-breakpoint-up(md) {
                width: 100%;
            }
        }
    }

    .media-body {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: left;

        &::before {
            font-size: $font-size-2;
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            @include icon();
            @include rtl-flip;
            @extend .icon-arrow-right::before;
            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        @include media-breakpoint-up(md) {
            height: auto;
            padding: 1.875rem 1.25rem;
        }
    }
}

.module-beta {
    h4 {
        @include media-breakpoint-down(sm) {
            font-size: $font-size-4;
            font-weight: $font-weight-normal;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.35;
        }
    }

    .media {
        height: 100%;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    .media-body {
        padding: 1rem 0.75rem;
        text-align: center;

        @include media-breakpoint-up(md) {
            padding: 1.875rem;
            text-align: left;
        }
    }
}

.module-gamma {
    h4 {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0.5rem !important;
        }
    }

    .media {
        height: 100%;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    .media-body {
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .play-icon {
        &::before {
            font-size: $font-size-28;

            @include media-breakpoint-up(md) {
                font-size: $font-size-68;
            }
        }
    }

    .slick-next,
    .slick-prev {
        @include media-breakpoint-down(sm) {
            height: 2rem;
            bottom: 4.5rem !important;
            top: auto;
            width: 2.25rem;
        }
    }

    .slick-dotted.slick-slider {
        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }
    }
}

.module-delta {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;

    .btn-link {
        align-items: center;
        border-bottom: 0.0625rem solid rgba($black, 0.1);
        border-top: 0.0625rem solid rgba($black, 0.1);
        display: flex;
        font-size: $font-size-4;
        font-weight: $font-weight-demi-bold;
        margin-bottom: -0.0625rem;
        padding: 0.75rem 0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: $font-size-11;
        }

        &::after {
            font-size: $font-size-2;
            margin-left: auto;
            margin-right: 0.9375rem;

            @include icon();
            @extend .icon-arrow-right::before;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .media {
        align-items: center;
        position: relative;
        min-height: 7.3125rem;

        img {
            max-width: 7.3125rem;

            @include media-breakpoint-up(md) {
                max-width: 12.5rem;
            }
        }

        .btn-link {
            border: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            &::after {
                position: absolute;
                bottom: 1rem;
                right: 0;
            }
        }
    }

    .experience-component:not(:last-child) {
        .media {
            margin-bottom: 1rem;
        }
    }
}

.accordion-component {
    p {
        display: flex;
        font-size: $font-size-3;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 1rem;
        padding-bottom: 0.8rem;

        i {
            margin-left: auto;

            &::before {
                font-size: $font-size-4;
            }
        }

        .icon-minus {
            display: none;
        }

        .icon-plus {
            display: block;
        }
    }

    .row > div:not(:last-child) p {
        border-bottom: 0.0625rem solid $alto;
    }

    .accordion-content {
        font-size: $font-size-1;
        height: 0;
        overflow: hidden;

        h5 {
            text-transform: uppercase;
            font-size: $font-size-2;
            font-weight: $font-weight-normal;
            margin: 1rem 0;
        }

        p {
            padding-bottom: 0.5rem;
            font-size: $font-size-2;
        }
    }

    .open {
        &:not(:last-child) .accordion-content {
            border-bottom: 0.0625rem solid $alto;
        }

        p {
            border-bottom: 0 !important;

            .icon-minus {
                display: block;
            }

            .icon-plus {
                display: none;
            }
        }

        .accordion-content {
            height: auto;
            padding-bottom: 1rem;
        }
    }
}

.page-menu-vertical {
    text-transform: uppercase;
    border: 0.0625rem solid $tertiary;
    padding: 1rem;

    ul li {
        &:not(:last-child) a {
            padding-bottom: 1.5rem;
        }

        a {
            font-size: $font-size-2;
            display: block;
        }
    }

    .active-page a {
        font-weight: $font-weight-demi-bold;
    }
}
