.veil {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1041;

    .underlay {
        background-color: $white;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.spinner {
    width: $spinner-size;
    top: 50%;
    text-align: center;
    position: absolute;
    margin-top: $spinner-size / 2 * -1;
    margin-left: $spinner-size / 2 * -1;
    left: 50%;
    height: $spinner-size;
}

.dot1 {
    position: relative;

    &::before {
        animation: rotate 1.5s linear infinite;
        content: '\e82e';
        font-family: 'fontello' !important;
        font-size: $spinner-size;
        position: absolute;
    }

    @keyframes rotate {
        to {
            transform: rotate(-360deg);
        }
    }
}
