@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.container.aligned-video {
    @include media-breakpoint-down(sm) {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

.aligned-video-box {
    position: relative;
    overflow: hidden;
    max-height: 44.75rem;

    &::before {
        content: "";
        padding-top: 56.4%;
        float: left;
    }

    .aligned-video-iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 0.25rem);
        height: calc(100% + 0.25rem);
        transform: translate(-50%, -50%);
        z-index: -1;

        .aligned-landing-video-iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .aligned-video-iframe-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .icon-svg-video-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8.0625rem;
        height: 8.0625rem;
        cursor: pointer;
    }
}

.aligned-video-box {
    &.active {
        .aligned-video-iframe {
            z-index: 1;
        }

        .aligned-video-iframe-image {
            z-index: -1;
        }
    }
}
