@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.info-block {
    color: $info-text;
    margin: 0 auto 0.9375rem;
    max-width: 18.4375rem;

    @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: 0;
    }

    @include media-breakpoint-up(md) {
        max-width: 29.6875rem;
        margin-bottom: 1.125rem;
    }

    @include media-breakpoint-up(lg) {
        max-width: 39.25rem;
        margin-bottom: 1.5625rem;
    }

    @include media-breakpoint-up(xl) {
        max-width: 51.25rem;
        margin-bottom: 1.875rem;
    }

    .info-block-logo {
        margin-bottom: 0.8125rem;
        max-width: 3.125rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.25rem;
            max-width: 2.5rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 3.4375rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 2rem;
            max-width: 4.375rem;
        }
    }

    .info-block-title {
        color: $black;
        font-size: $font-size-2;
        line-height: $font-lh--1;
        font-family: $font-family-tertiary;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-4;
            margin-bottom: 0.8125rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
            margin-bottom: 1.0625rem;
        }
    }

    .info-block-description {
        overflow: hidden;
        position: relative;
        font-size: $font-size-base;
        line-height: $font-lh--1;
        transition: $animation-default;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }

        &.view-more {
            max-height: 3.875rem;

            @include media-breakpoint-up(md) {
                max-height: 4.9375rem;
            }

            @include media-breakpoint-up(lg) {
                max-height: 5.3125rem;
            }

            @include media-breakpoint-up(xl) {
                max-height: 6.1875rem;

                [dir="rtl"] & {
                    max-height: 5.5rem;
                }
            }

            + .info-block-devider {
                display: block;
            }
        }
    }

    .info-block-devider {
        display: none;
        width: 35rem;
        max-width: 95%;
        margin: 2.5rem auto 0;
        border-top: 0.0625rem solid $black;
        transition: $animation-default;
        position: relative;
        padding: 1.0625rem 0;
        text-transform: uppercase;
        color: $black;
        font-size: $font-size-base;
        letter-spacing: $font-ls-2;
        cursor: pointer;

        &::before {
            width: 2rem;
            height: 1.25rem;
            position: absolute;
            background-color: $white;
            top: -0.625rem;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            margin-left: -0.1875rem;
            font-size: $font-size--2;
            font-weight: $font-weight-extra-bold;
            padding: 0.1875rem 0;
            display: inline-block;
        }
    }
}
