@import '../mixins/accordion';

@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($bp) {
        .acc-container-#{$bp}-down {
            @include accordion();
        }
    }
}

.acc-container {
    @include accordion();
}
