.checkout-supported-payment-methods {
    color: $aluminium;
    font-size: fz(body);
    font-weight: $font-weight-normal;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0.75rem;
    line-height: $font-lh--4;
    text-align: center;

    > .row {
        @include media-breakpoint-down(sm) {
            max-width: 21rem;
        }

        > .col-12 {
            flex: 1 0 auto;
        }
    }

    a {
        color: $oslo-gray;
    }
}

.checkout-supported-payment-method-icons {
    img {
        max-width: 1.875rem;
        margin-bottom: 0.5rem;
        margin-left: 0.65rem;
        margin-right: 0.65rem;
    }
}

// Cart
.cart-page .next-step-box {
    .checkout-supported-payment-methods {
        margin-top: 2.5625rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: none;

        @include media-breakpoint-up(xl) {
            display: flex;
        }

        > .row {
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    }
}

.cart-page {
    .modal-title {
        font-family: ff(base);
        font-size: fz(p16);
        font-weight: $font-weight-medium;
        justify-content: center;
        text-transform: uppercase;
        line-height: $font-lh--3;
        margin: 0 0 0.9rem;

        &::after {
            display: none;
        }
    }

    .delete-confirmation-body {
        font-family: ff(base);
        font-size: fz(body);
        color: $secondary;
        font-weight: $font-weight-normal;
        text-align: left;
        text-transform: none;
        line-height: $font-lh--3;
        padding: 1rem 2.4375rem;
    }

    .product-to-remove {
        margin: 0.625rem 0 0.3125rem;
    }

    .modal-footer {
        justify-content: space-between;
        padding-top: 1rem;

        .btn-outline-secondary,
        .btn-primary {
            min-width: 47%;
            margin: 0 0.625rem;
        }
    }
}

// Checkout
.order-total-summary {
    .checkout-supported-payment-methods {
        padding: 0;
        margin: 0;
    }
}

.next-step-box,
.order-total-summary {
    .checkout-supported-payment-method-icons {
        display: flex;
        justify-content: space-between;
        max-width: 17.5rem;
        margin: 0 auto 0.4375rem;

        img {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
