.consent-tracking-container {
    color: $grey5;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: fz(p9);
    line-height: 1.5;
    padding: 0.3rem 0.5rem 0.4rem 0.725rem;

    .btn-cancel {
        margin-left: auto;

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1.25rem;
            }
        }
    }

    .content-asset {
        a {
            color: $grey5;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .button-wrapper {
        > button:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
