@font-face {
    font-family: 'scicons';
    src: url('../fonts/scicons.eot?45524027');
    src:
        url('../fonts/scicons.eot?45524027#iefix') format('embedded-opentype'),
        url('../fonts/scicons.woff2?45524027') format('woff2'),
        url('../fonts/scicons.woff?45524027') format('woff'),
        url('../fonts/scicons.ttf?45524027') format('truetype'),
        url('../fonts/scicons.svg?45524027#scicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sc-icon-"]::before,
[class*=" sc-icon-"]::before {
    font-family: 'scicons' !important;
    font-style: normal;
    font-size: fz(p16);
    font-weight: $font-weight-normal;
    display: inline-block;
    text-decoration: inherit;
    transform: rotateZ(0);

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sc-icon-tick::before { content: '\e800'; } /* '' */
.sc-icon-wishlist-heart-full::before { content: '\e801'; } /* '' */
.sc-icon-legal::before { content: '\e802'; } /* '' */
.sc-icon-phone::before { content: '\e803'; } /* '' */
.sc-icon-play::before { content: '\e804'; } /* '' */
.sc-icon-promo::before { content: '\e805'; } /* '' */
.sc-icon-return::before { content: '\e806'; } /* '' */
.sc-icon-send::before { content: '\e807'; } /* '' */
.sc-icon-search::before { content: '\e808'; } /* '' */
.sc-icon-settings::before { content: '\e809'; } /* '' */
.sc-icon-share::before { content: '\e80a'; } /* '' */
.sc-icon-shipping::before { content: '\e80b'; } /* '' */
.sc-icon-snapchat::before { content: '\e80c'; } /* '' */
.sc-icon-twitter::before { content: '\e80d'; } /* '' */
.sc-icon-check::before { content: '\e80e'; } /* '' */
.sc-icon-ok::before { content: '\e80f'; } /* '' */
.sc-icon-whatsapp-outlined::before { content: '\e810'; } /* '' */
.sc-icon-youtube::before { content: '\e811'; } /* '' */
.sc-icon-camera::before { content: '\e812'; } /* '' */
.sc-icon-emo-wink2::before { content: '\e813'; } /* '' */
.sc-icon-facebook-messenger::before { content: '\e814'; } /* '' */
.sc-icon-facebook::before { content: '\e815'; } /* '' */
.sc-icon-faqs::before { content: '\e816'; } /* '' */
.sc-icon-gift::before { content: '\e817'; } /* '' */
.sc-icon-wishlist-heart::before { content: '\e818'; } /* '' */
.sc-icon-cart::before { content: '\e819'; } /* '' */
.sc-icon-email::before { content: '\e81a'; } /* '' */
.sc-icon-my-account::before { content: '\e81b'; } /* '' */
.sc-icon-password::before { content: '\e81c'; } /* '' */
.sc-icon-menu::before { content: '\e81d'; } /* '' */
.sc-icon-samples::before { content: '\e81e'; } /* '' */
.sc-icon-preferences::before { content: '\e81f'; } /* '' */
.sc-icon-address-book::before { content: '\e820'; } /* '' */
.sc-icon-home::before { content: '\e821'; } /* '' */
.sc-icon-information::before { content: '\e822'; } /* '' */
.sc-icon-cod::before { content: '\e823'; } /* '' */
.sc-icon-collections::before { content: '\e824'; } /* '' */
.sc-icon-contact-us::before { content: '\e825'; } /* '' */
.sc-icon-copy-link::before { content: '\e826'; } /* '' */
.sc-icon-eye-password::before { content: '\e827'; } /* '' */
.sc-icon-whatsapp::before { content: '\e828'; } /* '' */
.sc-icon-categories::before { content: '\e829'; } /* '' */
.sc-icon-location::before { content: '\e82a'; } /* '' */
.sc-icon-verified::before { content: '\e82b'; } /* '' */
.sc-icon-customer-service::before { content: '\e82c'; } /* '' */
.sc-icon-arrow::before { content: '\e82d'; } /* '' */
.sc-icon-payment-methods::before { content: '\e82e'; } /* '' */
.sc-icon-instagram::before { content: '\e82f'; } /* '' */
.sc-icon-social-share-fill::before { content: '\e830'; } /* '' */
.sc-icon-whatsapp-fill::before { content: '\e832'; } /* '' */
.sc-icon-social-share::before { content: '\e833'; } /* '' */

.sc-icon-arrow-back::before {
    content: '\e82d';
    transform: rotate(-180deg);
}

.sc-icon {
    position: relative;
    top: 0;
    display: inline-block;
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: 1;

    &::before {
        font-size: fz(p20);
    }
}

.sc-icon-star-fill-half {
    position: relative;

    &::before {
        content: '\ea65';
    }

    &::after {
        content: '\ea66';
        font-family: 'scicons' !important;
        font-style: normal;
        font-size: fz(h3);
        font-weight: $font-weight-normal;
        display: inline-block;
        text-decoration: inherit;
        transform: rotateZ(0);
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        z-index: 1;
    }
}

.sc-icon-cross,
.sc-icon-plus {
    display: inline-block;
    transform: rotate(90deg);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 0.3125rem;
        top: 50%;
        left: 50%;
        margin: -0.0625rem 0 0 -0.78125rem;
        width: 1.5625rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    &::before {
        transform: rotate(-45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-plus {
    transform: rotate(45deg);
}

.sc-icon-minus::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.0625rem;
    width: 0.875rem;
    height: 0.0625rem;
    background-color: $text-muted;
}

.sc-icon-home {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    width: 0.625rem;
    height: 0.5625rem;
    border: 0.125rem solid $secondary;
    border-top: none;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -0.375rem;
        left: 50%;
        width: 0.625rem;
        height: 0.125rem;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        background: $secondary;
    }

    &::before {
        transform: rotate(45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }
}

.sc-icon-arrow-next,
.sc-icon-arrow-prev {
    display: inline-block;
    width: 1.3125rem;
    height: 0.875rem;
    position: relative;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 1.875rem;
        height: 0.0625rem;
        background-color: $secondary;
        transform-origin: 0 0;
    }

    &::before {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-arrow-prev {
    transform: rotate(-90deg);
}

.sc-icon-arrow-next {
    transform: rotate(90deg);
}

.list-style-check {
    list-style: none;
    padding-left: 0 !important;

    > li::before {
        content: '\EA0C';
        font-family: 'scicons' !important;
        font-style: normal;
        font-size: 0.7rem !important;
        color: #485460 !important;
        padding-right: 0.7rem;
        font-weight: 400;
        display: inline-block;
        text-decoration: inherit;
        transform: rotateZ(0);
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
    }
}

.sc-icon-checkbox {
    display: inline-block;
    transform: rotate(45deg);
    height: 0.875rem;
    width: 0.4375rem;
    border-bottom: 0.0625rem solid $green;
    border-right: 0.0625rem solid $green;
    margin-top: -5px;
}
