.quantity,
.simple-quantity,
.quantity-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-selector {
    .btn-link {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        text-align: center;

        &.disabled {
            i::before,
            i::after {
                background-color: $grey2;
            }
        }
    }

    i::before,
    i::after {
        width: 0.9375rem;
        height: 0.125rem;
        background-color: $text-muted;
    }

    .sc-icon-minus::before {
        margin: 0 0 0 0.2rem;
    }

    .sc-icon-plus::before,
    .sc-icon-plus::after {
        margin: -0.2575rem 0 0 -0.6275rem;
    }

    .form-control {
        background-color: $white !important;
        font-size: fz(p13);
        font-weight: $font-weight-medium;
        text-align: center;
        padding: 0;

        @include media-breakpoint-up(xl) {
            width: 3rem;
        }

        &.disabled {
            color: $grey3;
        }
    }
}

@include media-breakpoint-down(lg) {
    .quantity,
    .simple-quantity,
    .quantity-selector {
        align-self: flex-start;
    }

    .quantity,
    .simple-quantity {
        flex-direction: column;
        align-items: flex-start;

        .btn-select {
            font-size: fz(p9);
            text-transform: uppercase;
        }
    }

    .quantity-selector {
        align-self: flex-start;
        margin-top: 0.51rem;
        width: 100%;
    }
}
