.tabs-alpha {
    .nav-tabs {
        border-bottom: 0;
        line-height: 0;
        position: relative;

        @include media-breakpoint-up(xl) {
            max-width: map-get($grid-breakpoints, "xl");
            margin: 0 auto;

            &::after {
                position: absolute;
                content: "";
                top: 1.875rem;
                right: 0;
                left: 0;
                height: 0.0625rem;
                border-bottom: 0.0625rem solid $grey3;
                opacity: 25%;
                z-index: -1;
            }
        }
    }

    .nav-tabs .nav-item {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        border-right: 0.0625rem solid $secondary;

        &:last-child {
            border-right: 0;
        }
    }

    .nav-tabs .nav-link {
        display: flex;
        justify-content: center;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        color: $secondary;

        &.active {
            border-bottom: 0;
            font-weight: $font-weight-bold;
            color: $secondary;
        }
    }

    .tab-pane {
        padding-top: 2rem;
        border-top: 0;

        .acc-title {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            color: $secondary;
        }

        span {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            color: $secondary;
        }
    }

    .acc-container-lg-down {
        @include media-breakpoint-down(lg) {
            display: block;
            padding-top: 0;
            opacity: 1;
        }
    }
}
