$select-border: 0.0625rem solid $grey2;
$select-border--active: 0.0625rem solid $secondary;
$select-min-width: 100%;

.select,
.btn-select {
    -webkit-appearance: none;
    padding: 1.125rem 2.1875rem 1.125rem 0.9375rem;
    color: $primary;
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    line-height: $line-height-3;
    border-radius: 0;
    border: $select-border;
    background: $white url("../images/icons/arrow-down.svg") calc(100% - 0.9375rem) calc(50% - 0.0625rem) no-repeat;
}

.select + .select2-container--default {
    min-width: $select-min-width;

    &.select2-container--open {
        .select2-selection {
            border: $select-border--active;
            border-bottom: $select-border;
            overflow: hidden;
        }

        .select2-selection__arrow {
            transform: scaleY(-1) translateY(0.1875rem);
        }
    }

    .select2-selection {
        border-radius: 0;
        border: $select-border;
        height: auto;
        background: $white;
        display: flex;
        justify-content: space-between;
        max-height: 3.125rem;
    }

    .select2-selection__rendered {
        padding: 0.825rem 0.625rem 1.125rem 0.9375rem;
        color: $primary;
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $line-height-3;

        .select2-selection__placeholder {
            color: $secondary;
        }
    }

    .select2-selection__arrow {
        position: static;
        height: auto;
        top: 0.125rem;
        bottom: 0.125rem;
        width: 1.5rem;
        background: $white url("../images/icons/arrow-down.svg") left calc(50% - 0.0625rem) no-repeat;

        b {
            display: none;
        }
    }
}

.select + .select2-container--default .select2-selection__arrow::before,
.select2-results__option-label::before {
    content: "";
    position: absolute;
    width: 1.375rem;
    top: 0;
    bottom: 0;
    right: 100%;
    background-image: linear-gradient(to left, var(--white) 37%, rgba(255, 255, 255, 0.58) 66%);
}

.error ~ .select2-container--default {
    .select2-selection {
        border-color: $red;
    }
}

.select2-dropdown {
    border-radius: 0;
    border: $select-border--active;

    &.theme-1 {
        border: 0.0625rem solid $iron;
        min-width: 11.875rem;

        .select2-results {
            .select2-results__options {
                max-height: 21.875rem;
                padding: 0.625rem 0;
            }
        }

        .select2-results__option {
            color: $primary-hover;
            padding: 0.4375rem 0.875rem 0.4375rem 2.5rem;
            background-color: transparent;
        }

        .select2-results__option--highlighted[aria-selected] {
            text-decoration: underline;
        }

        .select2-results__option--highlighted[aria-selected],
        .select2-results__option[aria-selected=true] {
            color: $primary-hover;
            background-color: transparent;

            &::after {
                background: transparent;
                border: 0.0625rem solid $primary;
                border-top: none;
                border-right: none;
                content: "";
                height: 0.1875rem;
                left: 1.25rem;
                opacity: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
                width: 0.625rem;
            }
        }

        .select2-results__option[aria-selected=true] {
            &::after {
                opacity: 1;
            }
        }
    }
}

.select2-container--default {
    .select2-results {
        .select2-results__options {
            @include custom-scrollbar();

            max-height: 12.1875rem;
        }
    }

    .select2-results__option {
        @include text-truncate;

        position: relative;
        color: $primary;
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $line-height-3;
        padding: 1.125rem 0.875rem;

        &[aria-disabled=true] {
            color: $iron;
        }
    }

    .select2-results__option-text {
        display: flex;
        justify-content: space-between;
    }

    .select2-results__option-text-main {
        @include text-truncate;
    }

    .select2-results__option-label {
        position: relative;
    }

    .select2-results__option--highlighted[aria-selected],
    .select2-results__option[aria-selected=true] {
        color: $primary;
        background-color: $brand-light;

        .select2-results__option-label::before {
            opacity: 0;
        }
    }
}

.select2-container--open {
    .select2-dropdown {
        left: 0 rtl-ignore();
        right: auto rtl-ignore();
        min-width: $select-min-width;
    }
}

// Select modifications

.select.theme-1,
.btn-select.theme-1 {
    border: none;
    padding-left: 0;
    font-size: $font-size--5;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

    &.dropdown-toggle::after {
        display: none;
    }

    + .select2-container--default {
        width: auto !important;

        .select2-selection {
            border: none;
            justify-content: flex-end;
        }

        .select2-selection__rendered {
            font-size: $font-size--5;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

            .select2-selection__placeholder {
                color: $primary;
            }
        }

        .select2-selection__arrow {
            width: 1.25rem;

            &::before {
                display: none;
            }
        }
    }
}

// Dropdown
.dropdown-menu {
    border-radius: 0;

    @include media-breakpoint-up(md) {
        transform: translate3d(0, 3.3125rem, 0) !important;
    }
}
